<legend>
    <i class="fa fa-wifi" aria-hidden="true"></i> {{ tab_discount_price }} 
    <button form="help_modals" class="pull-right hm-help btn btn-primary btn-sm" data-toggle="modal" data-target="#Price_Modal">
        <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
    </button>
</legend>
<div class="row">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <td class="text-left name">
                        <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_name_titles }}">
                            {{ column_name }} 
                        </span>
                        </label>
                    </td>
                    <td class="text-left">
                        <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_description_titles }}">
                            {{ column_description }} 
                        </span>
                        </label>
                    </td>
                    <td class="text-center mini-style">
                        <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_edit_titles }}">
                            {{ column_edit }} 
                        </span>
                        </label>
                    </td>
                    <td class="text-center mini-style">
                        <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_sort_order_titles }}">
                             {{ column_sort_order }} 
                        </span>
                        </label>
                    </td>
                    <td class="text-center mini-style">
                        <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_status_titles }}">
                            {{ column_status }} 
                        </span>
                        </label>
                    </td>
                    <td class="text-center mini-style">
                        <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_delete_titles }}">
                           {{ column_delete }} 
                        </span>
                        </label>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% if (price_discounts) %}
                    {% set price_discounts_counter = 1 %} 
                    {% for price_discount in price_discounts %} 
                        <input type="hidden" name="price_discount[{{ price_discounts_counter }}][discount_id]" value="{{ price_discount['discount_id'] }}">
                        <tr>
                            <td class="text-left">{{ price_discount['name'] }}</td>
                            <td class="text-left">{{ price_discount['description'] }}</td>
                            <td class="text-center"><a href="{{ price_discount['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                            <td class="text-center">
                                <input type="text" name="price_discount[{{ price_discounts_counter }}][sort_order]"
                                       value="{{ price_discount['sort'] }}" class="form-control">
                            </td>
                            <td class="text-center widht-small">
                                <input class="bootstrap-switcher" type="checkbox" value="1" name="price_discount[{{ price_discounts_counter }}][status]" data-size="small" data-on-color="success"
                                    {% if (price_discount['status']) %} {{ 'checked' }}{% endif %} >
                            </td>
                            <td class="text-center"><a href="{{ price_discount['delete'] }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                        {% set price_discounts_counter = price_discounts_counter + 1 %} 
                    {% endfor %} 
                {% endif %} 
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td class="text-center hidden">
                        <a href="{{ add_discount_price }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- Start Modal Help Price Discount -->
<div class="modal fade" id="Price_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> {{ help_name_price }}</h4>
            </div>
            <div class="modal-body">
                <legend>{{ help_text }}</legend>
                <div class="text-center">{{ help_first_price }}</div>
                <div class="helper-info">{{ help_second_price }}</div>
                <div class="text-center">{{ help_third_price }}</div>
                <div class="helper-info">{{ help_fourth_price }}</div>
                <div class="text-center">{{ help_fifth_price }}</div>
                <div class="helper-info">{{ help_sixth_price }}</div>
                <div class="text-center">{{ help_seventh_price }}</div>
                <div class="helper-info">{{ help_eighth_price }}</div>
                <div class="text-center">{{ help_ninth_price }}</div>
                <div class="helper-info">{{ help_tenth_price }}</div>
                <div class="text-center">{{ help_eleventh_price }}</div>
                <div class="helper-info">{{ help_twelfth_price }}</div>
                <div class="text-center">{{ help_thirteenth_price }}</div>
                <div class="helper-info">{{ help_fourteenth_price }}</div>
                <!-- <div class="text-center">{# echo $help_fifteenth_price; #}</div>
                <div class="helper-info">{# echo $help_sixteenth_price; #}</div> -->
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Help Price Discount -->

<script type="text/javascript">
    $('.bootstrap-switcher').bootstrapSwitch();
</script>