<legend>
    <i class="fa fa-th" aria-hidden="true"></i> {{ tab_name_wholesale }} 
    <button form="help_modals" class="pull-right hm-help btn btn-primary btn-sm" data-toggle="modal" data-target="#Wholesale_Modal">
        <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
    </button>
</legend>
<div class="row">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="text-left name">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_name_titles }}">
                                    {{ column_name }} 
                                </span>
                            </label>
                        </td>
                        <td class="text-left comment">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_description_titles }}">
                                    {{ column_description }} 
                                </span>
                            </label>
                        </td>
                        <td class="text-center mini-style">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_edit_titles }}">
                                    {{ column_edit }} 
                                </span>
                            </label>
                        </td>
                        <td class="text-center mini-style">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_delete_titles }}">
                                    {{ column_delete }} 
                                </span>
                            </label>
                        </td>

                    </tr>
                </thead>
                <tbody>
                    {% if (wholesale_discounts) %}
                    {% set wholesale_discounts_counter = 1 %} 
                    {% for wholesale_discount in wholesale_discounts %} 
                    <tr>
                        <td class="text-left"><input type="hidden" name="wholesale_discount[{{ wholesale_discounts_counter }}][discount_id]" value="{{ wholesale_discount['discount_id'] }}">{{ wholesale_discount['name'] }}</td>
                        <td class="text-left comment"><div class="comment-area">{{ wholesale_discount['description'] }}</div></td>
                        <td class="text-center"><a href="{{ wholesale_discount['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                        <td class="text-center"><a href="{{ wholesale_discount['delete'] }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a></td>
                    </tr>
                    {% set wholesale_discounts_counter = wholesale_discounts_counter + 1 %} 
                    {% endfor %} 
                    {% endif %} 
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-center">
                            <a href="{{ add_discount_wholesale }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- Start Modal Help Products Discount -->
<div class="modal fade" id="Wholesale_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> {{ help_name_wholesale }}</h4>
            </div>
            <div class="modal-body">
                <legend>{{ help_text }}</legend>
                <div class="helper-info">{{ help_wholesale_text }}</div>
                <div class="text-center">{{ help_first_wholesale }}</div>
                <div class="helper-info">{{ help_second_wholesale }}</div>
                <div class="text-center">{{ help_third_wholesale }}</div>
                <div class="helper-info">{{ help_fourth_wholesale }}</div>
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Help Products Discount -->
<script type="text/javascript">
    $('.bootstrap-switcher').bootstrapSwitch();
</script>