<div class="col-xs-12 kit-item {% if (item_product['product_info']['quantity']<=0) %}{{ 'be-stock-out' }}{% endif %} {{ selectable? 'selectable':'' }} {% if (item_product['is_free_product']) %} {{ 'free-product' }}{% endif %}" data-empty-item="{% if (show_empty) %} {{ '1' }}{% else %} {{ '0' }}{% endif %}" data-checkbox-in-kit-show="{% if (checkbox_in_kit_show) %} {{ '1' }}{% else %} {{ '0' }}{% endif %}"  data-item-position="{{ item_position }}" data-item-position-free="{{ item_position_free }}" data-default-item-position="{{ item_position }}" data-is-main-product-position="{{ item_product['main'] }}" data-item-mode="{{ item_product['item_mode'] }}" >
    {% set product = item_product['product_info'] %}
    <div class="kit-item-product  {% if (product['selected']) %} {{ 'product-selected' }}{% endif %} {% if (display_options_input) %} {{ 'display-options-input' }}{% endif %} {% if (show_empty) %} {{ 'hidden' }}{% endif %} " style="position:relative;" data-item-position="{{ item_position }}" data-item-position-free="{{ item_position_free }}" data-item-product-position="{{ item_product_position }}" data-product-id="{{ item_product['product_id'] }}" >
        <input type="hidden" name="{{ input_name_prefix }}[product_id]" data-id="input-product-id" value="{{ item_product['product_id'] }}">
        <input type="hidden" name="{{ input_name_prefix }}[item_position]" data-id="input-item-position" value="{{ item_position }}">
        <input type="hidden" name="{{ input_name_prefix }}[item_position_free]" data-id="input-item-position-free" value="{{ item_position_free }}">
        <input type="hidden" name="{{ input_name_prefix }}[quantity]" data-id="input-quantity" value="{{ item_product['quantity'] }}">
        <input type="hidden" name="{{ input_name_prefix }}[quantity_edit]" data-id="input-for-quantity-edit" value="{{ item_product['quantity_edit'] }}">
        <input type="hidden" name="{{ input_name_prefix }}[empty_mode_item_is_empty]" data-id="input-is-item-is-empty" value="{{ empty_mode_item_is_empty }}">
        <input type="hidden" name="{{ input_name_prefix }}[is_free_product]" data-id="input-is-free-product" value="{{ item_product['is_free_product'] }}">
        <input type="hidden" name="{{ input_name_prefix }}[free_product_in_kit]" data-id="input-free-product-in-kit" value="{{ free_product_in_kit }}">
        <input type="hidden" name="{{ input_name_prefix }}[max_quantity]" data-id="input-max-quantity" value="{{ product['quantity'] }}">
        <div class="row be-product-thumb transition " style="border: none; margin-bottom: 0; overflow: visible;padding-left: 8px;"
                {% if (product_click_mode == 'default') %}
                    onclick="bundle_expert_form.set_active_product(this);"
                {% endif %}

        >
            <div class="be-product-thumb-overlay">
            </div>

            <i class="fa fa-exclamation-circle alert-danger alert-icon"></i>

            <div class="col-xs-12 col-sm-2 ">
                <div class="be-image">
                    <a {% if (product_click_mode == 'url' or product_click_mode == 'url_new_tab') %} href="{{ product['href'] }}" {% endif %}  {% if (product_click_mode == 'url_new_tab') %} target="_blank" {% endif %} >
                        <div style="display: inline-block; position: relative;">
                            <img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive" />
                            <div class="active-item-underline"></div>

                            <div class="item-quantity {% if (item_product['quantity']<=1) %} {{ 'hidden' }}{% endif %}" style="">{{ item_product['quantity'] }}x</div>

                            <div class="item-price-discount {% if (product['price_discount_text'] is empty) %} {{ 'hidden' }}{% endif %}" style="">{{ product['price_discount_text'] }}</div>

                        </div>
                    </a>
                </div>


            </div>
            <div class="col-xs-12 col-sm-4 text-left text-xs-center" style="padding: 0 8px;">
                <h4 class="be-product-title" style="margin-bottom: 4px"><a {% if (product_click_mode == 'url' or product_click_mode == 'url_new_tab') %} href="{{ product['href'] }}" {% endif %}  {% if (product_click_mode == 'url_new_tab') %} target="_blank" {% endif %}>{{ product['name'] }}</a></h4>


                <div class="be-product-details">
                    <ul class="list-unstyled">
                        {% if (product['manufacturer']) %}
                            <li class="be-product-manufacturer">{{ text_manufacturer }} <a href="{{ manufacturers }}">{{ product['manufacturer'] }}</a></li>
                        {% endif %}
                        {% if (product['sku']) %}
                            <li class="be-sku">{{ text_sku }} {{ product['sku'] }}</li>
                        {% endif %}
                        {% if (product['model']) %}
                            <li class="be-model">{{ text_model }} {{ product['model'] }}</li>
                        {% endif %}
                        {% if (product['reward']) %}
                            <li class="be-reward">{{ text_reward }} {{ product['reward'] }}</li>
                        {% endif %}
                        {% if (product['stock_status']) %}
                            <li class="be-text-stock"><span class="be-stock-text">{{ text_stock }}</span> <span class="be-stock-value">{{ product['stock_status'] }}</span></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="selectable-item-container {% if (not selectable) %} {{ 'hidden' }}{% endif %} text-xs-center" style="">
                    <span class="selectable-item select-product-button" style="{% if (item_product['is_free_product']) %} {{ 'display:none' }}{% endif %}" onclick="bundle_expert_form.on_click_select_item_product_button(this);event.stopPropagation()" >
                        {{ text_product_for_select }}
                    </span>
                    <span class="selectable-item add-to-kit-free-product-button" style="{% if (not (item_product['is_free_product'] and not item_product['free_product_in_kit'])) %} {{ 'display:none' }}{% endif %}" onclick="bundle_expert_form.on_click_add_free_product_button(this);event.stopPropagation()" >
                        {{ text_product_for_select }}
                    </span>
                </div>



                <div class="product-options-list" style="margin-bottom: 4px">
                    {% if (product['options']) %}
                        {% for option in product['options'] %}
                            {% if (option['type'] == 'select' or option['type'] == 'radio' or option['type'] == 'checkbox' or option['type'] == 'image' ) %}
                                {% for option_value in option['product_option_value'] %}
                                    {% if (option_value['fixed_option_value'] or option_value['preset_option_value']) %}
                                        <div>
                                            - <small>{{ option['name'] }} {{ option_value['name'] }}</small>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if (option['option_has_fixed_value'] or option['value'] != '') %}
                                    <div>
                                        - <small>{{ option['name'] }} {{ option['value'] }}</small>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="product-options-values" style="display: none" onclick="//event.stopPropagation();">
                    {% if (product['options']) %}
                        {% for option in product['options'] %}
                            {% if (option['type'] == 'select') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <div id="input-option{{ option['product_option_id'] }}">
                                        <label class="control-label" >{{ option['name'] }}</label>
                                        <select data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)" class="form-control" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %} >
                                            <option value="">{{ text_select }}</option>
                                            {% for option_value in option['product_option_value'] %}
                                                <option data-option-id="{{ option['option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}" data-product-option-id="{{ option['product_option_id'] }}" data-product-option-value-id="{{ option_value['product_option_value_id'] }}" value="{{ option_value['product_option_value_id'] }}" {% if (option_value['fixed_option_value'] or option_value['preset_option_value'] ) %} {{ 'selected' }}{% endif %} data-max-quantity="{{option_value['quantity']}}" >{{ option_value['name'] }}
                                                    <span class="option-price be-option-price">
                                                    {% if (option_value['price'] and option_value['price_text']) %}
                                                        ({{ option_value['price_text'] }})
                                                    {% endif %}
                                                    </span>
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'radio') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label">{{ option['name'] }}</label>
                                    <div id="input-option{{ option['product_option_id'] }}">
                                        {% for option_value in option['product_option_value'] %}
                                            <div class="radio {% if (option_value['image']) %}{{ 'radio-image' }}{% endif %}">
                                                <label onclick="event.stopPropagation();">
                                                    <input data-option-id="{{ option['option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}"  data-product-option-id="{{ option['product_option_id'] }}" data-product-option-value-id="{{ option_value['product_option_value_id'] }}" data-id="{{ option['unique_id'] }}" type="radio" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %} {% if (option_value['fixed_option_value'] or option_value['preset_option_value']) %} {{ 'checked' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)" data-max-quantity="{{option_value['quantity']}}"/>
                                                    {% if (option_value['image']) %}
                                                        <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="be-img-thumbnail" />
                                                    {% endif %}
                                                    <span class="option-name">
                                                        {{ option_value['name'] }}
                                                    </span>
                                                    <span class="option-price be-option-price">
                                                        {% if (option_value['price'] and option_value['price_text']) %}
                                                            ({{ option_value['price_text'] }})
                                                        {% endif %}
                                                    </span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'checkbox') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label">{{ option['name'] }}</label>
                                    <div id="input-option{{ option['product_option_id'] }}">
                                        {% for index,option_value in option['product_option_value'] %}
                                            <div class="checkbox {% if (option_value['image']) %} {{ 'checkbox-image' }}{% endif %}">
                                                <label onclick="event.stopPropagation();">
                                                    <input data-option-id="{{ option['option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}" data-product-option-id="{{ option['product_option_id'] }}" data-product-option-value-id="{{ option_value['product_option_value_id'] }}" data-id="{{ option['unique_id'] }}" type="checkbox" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}][{{ index }}]" value="{{ option_value['product_option_value_id'] }}" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %} {% if (option_value['fixed_option_value'] or option_value['preset_option_value']) %} {{ 'checked' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)" data-max-quantity="{{option_value['quantity']}}/>
                                                    {% if (option_value['image']) %}
                                                        <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="be-img-thumbnail" />
                                                    {% endif %}
                                                    <span class="option-name">
                                                        {{ option_value['name'] }}
                                                    </span>
                                                    <span class="option-price be-option-price">
                                                        {% if (option_value['price'] and option_value['price_text']) %}
                                                            ({{ option_value['price_text'] }})
                                                        {% endif %}
                                                    </span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'image') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label">{{ option['name'] }}</label>
                                    <div id="input-option{{ option['product_option_id'] }}">
                                        {% for option_value in option['product_option_value'] %}
                                            <div class="radio image">
                                                <label>
                                                    <input data-option-id="{{ option['option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}" data-product-option-id="{{ option['product_option_id'] }}" data-product-option-value-id="{{ option_value['product_option_value_id'] }}" type="radio" data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %} {% if (option_value['fixed_option_value'] or option_value['preset_option_value']) %} {{ 'checked' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)" data-max-quantity="{{option_value['quantity']}}/>
                                                    <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ option_value['price'] ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '' }}" class="be-img-thumbnail" /> {{ option_value['name'] }}
                                                    <span class="option-price be-option-price">
                                                        {% if (option_value['price'] and option_value['price_text']) %}
                                                            ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
                                                        {% endif %}
                                                    </span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'text') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                                    <input type="text" data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}"  value="{{ option['value'] }}" placeholder="{{ option['name'] }}" class="form-control" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)"/>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'textarea') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                                    <textarea data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" rows="5" id="input-option{{ option['product_option_id'] }}"  placeholder="{{ option['name'] }}"  class="form-control" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.update_widget_kit_total($(this).closest('.kit-widget'))">{{ option['value'] }}</textarea>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'file') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label">{{ option['name'] }}</label>
                                    <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block" ><i class="fa fa-upload"></i> {{ button_upload }}</button>
                                    <input type="hidden" data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" value="{{ option['value'] }}" onclick="event.stopPropagation();" onchange="bundle_expert.update_widget_kit_total($(this).closest('.kit-widget'))"/>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'date') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                                    <div class="input-group date">
                                        <input type="text" data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}"  value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" class="form-control" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)"/>
                                        <span class="input-group-btn">
                                                                    <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                                                                    </span></div>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'datetime') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                                    <div class="input-group datetime">
                                        <input type="text" data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" class="form-control" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)"/>
                                        <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                                                    </span></div>
                                </div>
                            {% endif %}
                            {% if (option['type'] == 'time') %}
                                <div class="form-group{{ option['required'] ? ' required' : '' }}">
                                    <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
                                    <div class="input-group time">
                                        <input type="text" data-id="{{ option['unique_id'] }}" name="{{ option['unique_id'] }}_{{ input_name_prefix }}[option][{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" value="{{ option['value'] }}" data-date-format="HH:mm" class="form-control" {% if (option['option_has_fixed_value']) %} {{ 'disabled' }}{% endif %}  onclick="event.stopPropagation();" onchange="bundle_expert_form.on_change_product_option(this)"/>
                                        <span class="input-group-btn">
                                                                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                                                                    </span></div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    {% endif %}
                </div>

            </div>


            <div class="col-xs-12 col-sm-2 text-left hidden" style="padding: 0 8px;">
                <div class="attribute-table-container" style="margin-top: 6px;">
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 text-right1 text-xs-center table-item-quantity " style="text-align: center">
                <span class="quantity-buttons">
                    <span class="edit-buttons-enable-container {% if (not item_product['quantity_edit']) %} {{ 'hidden' }}{% endif %}">
                        <a class="btn btn-xs be-btn-minus" onclick="bundle_expert.on_click_change_quantity(this,-1);event.stopPropagation()"><i class="fa fa-minus" style="font-size: 12px;margin: 0px"></i></a>
                        <input name="{{ input_name_prefix }}[quantity_field]" class="input-quantity-field" type="text" size="2"  onchange="bundle_expert.on_click_change_quantity(this,0)" value="{{ item_product['quantity'] }}" style="text-align: center" onclick="event.stopPropagation();">
                        <a class="btn btn-xs be-btn-plus" onclick="bundle_expert.on_click_change_quantity(this,1);event.stopPropagation()"><i class="fa fa-plus"  style="font-size: 12px;margin: 0px"></i></a>
                    </span>
                    <span class="edit-buttons-disable-container {% if (item_product['quantity_edit']) %} {{ 'hidden' }}{% endif %}">
                        <span style="padding: 0 4px">x {{ item_product['quantity'] }}</span>
                    </span>
                </span>

                {% if (item_product['is_free_product'] or item_product['item_empty_mode']['enable'] ) %}
                    <div style="margin-top: 8px;z-index: 10">
                        <span class="remove-item-button" style="" onclick="bundle_expert.on_click_remove_product_button(this);event.stopPropagation()" >
                            {{ text_remove_from_kit }}
                        </span>
                    </div>
                {% endif %}
            </div>

            {% if (checkbox_in_kit_show) %} {% set class_price="col-sm-2" %}{% else %} {% set class_price="col-sm-3" %}{% endif %}

            <div class="col-xs-12 {{ class_price }} text-right text-xs-center be-row-price" style="">
                {% if (product['price']) %}
                    <p class="be-price" style="">
                        {% if (not product['special']) %}
                            {{ product['price'] }}
                        {% else %}
                            <span class="be-price-old">{{ product['price'] }}</span> <span class="be-price-new">{{ product['special'] }}</span>
                        {% endif %}
                    </p>
                {% endif %}
            </div>

            <div class="col-xs-12 {{ class_price }} text-right text-xs-center be-row-price-total" style="">
                {% if (product['price_total']) %}
                    <p class="be-price-total" style="">
                        {% if (not product['special_total']) %}
                            {{ product['price_total'] }}
                        {% else %}
                            <span class="be-price-old-total">{{ product['price_total'] }}</span> <span class="be-price-new-total">{{ product['special_total'] }}</span>
                        {% endif %}
                    </p>
                {% endif %}
            </div>

            <div class="col-xs-12 col-sm-1 {% if (not checkbox_in_kit_show) %} {{ 'hidden' }}{% endif %} text-right  text-xs-center" style="">
                <div class="checkbox-in-kit-container " style="">
                    <input type="checkbox" name = "{{ input_name_prefix }}[checkbox_in_kit]" data-id="input-checkbox-in-kit-field" {% if (not checkbox_in_kit_enable) %} {{ 'disabled' }}{% endif %} {% if (checkbox_in_kit_checked) %} {{ 'checked' }}{% endif %} onchange="" style="vertical-align: bottom;    width: 18px;    height: 18px;" onclick="bundle_expert.on_checkbox_in_kit_changed(this);event.stopPropagation()">
                </div>
            </div>

        </div>

    </div>


    {% if (item_product['item_empty_mode']['enable']) %}
        <div class="empty-kit-item-product {% if (product['selected']) %} {{ 'product-selected' }}{% endif %} {% if (not show_empty) %} {{ 'hidden' }}{% endif %}  " style="min-height: 64px;padding: 0;position:relative;" data-item-position="{{ item_position }}" data-item-product-position="{{ item_product_position }}" data-product-id="{{ item_product['product_id'] }}" >
            <div class="row be-product-thumb transition " style="border: none; margin-bottom: 0; overflow: visible;padding-left: 8px;"
                    {% if (product_click_mode == 'default') %}
                        onclick="bundle_expert_form.set_active_product($(this).closest('.kit-item').find('.kit-item-product .be-product-thumb'));"
                    {% endif %}
                    {% if (product_click_mode == 'none') %}
                        onclick=""
                    {% endif %}

            >
                <div class="be-product-thumb-overlay1">
                </div>
                <div class="col-xs-12 col-sm-2 be-image">
                    <a>
                        <div style="display: inline-block; position: relative;">
                            <img class="bundle-expert-transparent img-responsive" src="{{ empty_image_name }}" alt="{{ '' }}" title="{{ '' }}"/>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-10 text-left  text-xs-center" style="padding: 0 8px;">
                    <h4 class="be-product-title" style="margin-bottom: 4px"><a style="white-space: nowrap;    text-overflow: ellipsis;">{{ item_product['item_empty_mode']['title'] }}</a></h4>
                    <span class="selectable-item empty-item-add-button" style="margin-top: 0px;" onclick="bundle_expert_form.on_click_select_item_product_button(this);event.stopPropagation()" >
                        {{ text_add_product }}
                    </span>
                </div>

            </div>
        </div>
    {% endif %}

</div>