<div class="kit-widget be-css kit-widget-table bootstrap-style {% if (display_options_input) %} {{ 'display-options-input' }}{% endif %} {% if (product_as_kit_mode) %} {{ 'product-as-kit-mode' }}{% endif %} {% if (product_as_kit_mode_light_mode) %} {{ 'product-as-kit-mode-light-mode' }}{% endif %}" data-id="bundle-expert-widget-{{ widget['widget_id'] }}" data-kit-title="{{ widget['kit_info']['title'] }}" data-widget-id="{{ widget['widget_id'] }}" data-kit-id="{{ widget['kit_info']['kit_id'] }}" data-main-product-id="{{ widget['main_product_id'] }}" data-widget-unique-id="{{ widget['unique_id'] }}" data-free-products-table-mode="{% if (free_products_table_mode) %} {{ 1 }}{% else %} {{ 0 }}{% endif %}" data-image-width="{{ image_width }}" data-max-width="{% if (widget['widget_width_mode']['limit'] == 1) %} {{ widget['widget_width_mode']['value'] }}{% else %} {{ '-1' }}{% endif %}" style="{% if (widget['widget_width_mode']['limit'] == 1) %} {{ 'max-width: '~widget['widget_width_mode']['value']~'px' }}{% endif %}">

    <div  class="" style="border: 1px solid #ddd;   margin-bottom: 0px;">
        <div class="kit-data">
            <input type="hidden" name="kit_id" value="{{ widget['kit_info']['kit_id'] }}">
            <input type="hidden" name="main_product_id" value="{{ widget['main_product_id'] }}">
            <input type="hidden" name="main_product_in_cart" value="{{ widget['main_product_in_cart'] }}">
            <input type="hidden" name="cart_merge_confirm" value="">
            <input type="hidden" name="cart_merge_enable" value="{{ widget['cart_merge_enable'] }}">
            <input type="hidden" name="product_as_kit_mode" value="{{ product_as_kit_mode }}">
        </div>
        <div class="kit-widget-header" style="padding: 8px 4px;;text-align: center; background-color: #ececec;border-bottom: 1px solid rgba(0,0,0,0.05);">
            <h3 style="margin: 0; font-size: 18px">{{ widget['kit_info']['title'] }}</h3>

            {% if (show_settings_icon) %}
                <div class="be-settings-dropdown" style="">
                    <span class="btn1 btn-sm1 btn-default1 dropdown-toggle" type="button" id="dropdownMenu{{ widget['unique_id'] }}" data-toggle="dropdown"><i class="fa fa-cog"></i></span>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu{{ widget['unique_id'] }}">
                        <li role="presentation"><a target="_blank" role="menuitem" tabindex="-1" href="{{ kit_settings_link }}">{{ text_kit_settings_link }}</a></li>
                        <li role="presentation"><a target="_blank" role="menuitem" tabindex="-1" href="{{ widget_settings_link }}">{{ text_widget_settings_link }}</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>




        <div class="kit-items" style="">
            <div id="kit-items-container" class="row" style="margin: 0; padding-top: 0px;padding-bottom: 0px;">

                {% for index1,kit_product in kit_items %}
                    {% for index2,kit_item_product in kit_product['products'] %}
                        {% if (not kit_item_product['is_free_product']) %}
                            {{ kit_product['item_html'][index2] }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% for index2,html in free_products_add_button_html %}
                    {# echo $html; #}
                {% endfor %}

                <!--Выводим заколовки групп свободных товаров и сами товары, которые по умолчанию в комплекте-->
                {% if (kit_has_free_products) %}
                    <div id="free-products-container-in-kit">

                        {% for index1,kit_product in kit_items %}
                            {% if (kit_product['is_free_product'] ) %}
                                <div class="free-product-container-in-kit" data-item-position="{{ kit_product['item_position'] }}" style="{% if (not kit_product['has_free_product_in_kit']) %} {{ 'display:none' }}{% endif %}">
                                    <div class="free-product-container-in-kit-header  col-xs-12">
                                        {{ kit_product['item_title'] }}
                                        <div class="be-group-free-button">
                                            <span class="be-button-add-group-to-kit" onclick="bundle_expert.addGroupToKit(this);" data-item-position="{{ kit_product['item_position'] }}">{{ text_add_free_group_to_kit }}</span>
                                            <span class="be-button-remove-group-rom-kit" onclick="bundle_expert.removeGroupFromKit(this);" data-item-position="{{ kit_product['item_position'] }}">{{ text_remove_free_group_to_kit }}</span>
                                        </div>
                                    </div>
                                    {% if (kit_product['is_free_product'] ) %}
                                        {% for index2,kit_item_product in kit_product['products'] %}
                                            {% if (kit_item_product['is_free_product'] and kit_item_product['free_product_in_kit']) %}
                                                {{ kit_product['item_html'][index2] }}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    {% for index3,html in free_products_add_button_html %}
                                        {# if($index1==$index3) echo $html; #}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                {% endif %}

                {% if (kit_has_free_products and free_products_table_mode and checkbox_in_kit_show) %}
                    <div class="free-items-with-checkbox">
                        {% set prev_item_position = -1 %}
                        {% for index1,kit_product in kit_items %}
                            {% set add_empty_list_block = constant('false') %}
                            {% if (kit_product['is_free_product'] and prev_item_position != kit_product['item_position']) %}
                                <div class="col-sm-12" style="text-align: left;font-size: 18px;border-bottom: 1px solid #e5e5e5; padding: 8px 16px;">
                                    {{ kit_product['item_title'] }}
                                </div>
                                {% set prev_item_position = kit_product['item_position'] %}
                                {% set add_empty_list_block = constant('true') %}
                            {% endif %}
                            {% if (kit_product['is_free_product'] ) %}
                                <div class="free-products-group" data-item-position ="{{ kit_product['item_position'] }}" >
                                    {% for index2,kit_item_product in kit_product['products'] %}
                                        {% if (kit_item_product['is_free_product'] and not kit_item_product['free_product_in_kit']) %}
                                            {{ kit_product['item_html'][index2] }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if (add_empty_list_block) %}
                                <div class="col-sm-12 empty-list-text" data-item-position="{{ kit_product['item_position'] }}" style="display: none;text-align: center">
                                    <h4>{{ text_free_products_list_empty }}</h4>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </div>
                {% endif %}

                <div class="widget-form-alert-container"></div>
            </div>

            <div class="row kit-widget-total-container" style="">




                <div class="col-xs-12 "  style="font-size: 14px;padding-right: 0;">
                    <div class="col-xs-6 col-sm-9 text-right  total-default-container {% if (not display_total_default) %} {{ 'hidden' }}{% endif %}">
                        {{ text_products_total }}:
                    </div>
                    <div class="col-xs-6 col-sm-3 text-right  total-default-container {% if (not display_total_default) %} {{ 'hidden' }}{% endif %}">
                        {% if (total_default_new) %}
                            <span class="be-price-old total-default" data-price-value="{{ total_default_value }}">
                                {{ total_default }}
                            </span>
                            <span class="total-default-new" data-price-value="{{ total_default_new_value }}" >
                                {{ total_default_new }}
                            </span>
                        {% else %}
                            <span class="be-price-old total-default" data-price-value=""></span>
                            <span class="total-default-new" data-price-value="{{ total_default_value }}">
                                 {{ total_default }}
                                </span>
                        {% endif %}
                    </div>


                    <div class="be-profit-price-row-container">

                        <div class="be-profit-price-row {% if (not profit_value) %} {{ 'hidden' }}{% endif %}">
                            <div class="col-xs-6 col-sm-9 text-right be-profit-price-header  " style="">
                                {{ text_bundle_profit_price }}:
                            </div>
                            <div class="col-xs-6 col-sm-3 text-right  be-profit-price-value">
                                <span class="be-profit-price">
                                        {{ profit_price }}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-9 text-right " style="font-weight: bold">
                        {{ text_bundle_total }}:
                    </div>
                    <div class="col-xs-6 col-sm-3 text-right">
                        {% if (total_kit_old) %}
                            <span class="be-price-old total-kit-old"  data-price-value="{{ total_kit_old_value }}">
                                    {{ total_kit_old }}
                            </span>
                            <span class="total-kit"  data-price-value="{{ total_kit_value }}">
                                    {{ total_kit }}
                                </span>
                        {% else %}
                            <span class="be-price-old total-kit-old"  data-price-value=""></span>
                            <span class="total-kit"  data-price-value="{{ total_kit_value }}">
                                    {{ total_kit }}
                            </span>
                        {% endif %}
                    </div>
                </div>

                {% if (not product_as_kit_mode and not product_as_kit_mode_light_mode) %}
                    <div class="col-xs-12 text-right " style="margin-top: 8px; padding-bottom: 12px; border-top: 1px solid rgba(0,0,0,.1); padding-top: 12px; background-color: rgba(0,0,0,0.05)">
                        <a onclick="bundle_expert.add_to_cart_by_widget(this, '');" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">
                            {{ text_add_kit_to_cart }}
                        </a>
                    </div>
                {% endif %}



            </div>



        </div>



        <div class="widget-over-info hidden" style="">
            <div class="widget-over-info-image"></div>
            <div class="widget-over-info-text"></div>
            <div class="widget-over-info-button">
            </div>
        </div>

    </div>

    {% if (kit_has_free_products and free_products_table_mode and not checkbox_in_kit_show) %}
        <div id="free-item-products-container" class="row {% if (default_hidden_free_products_container) %} {{ 'free-item-products-container-hidden' }}{% endif %}" style="border: 1px solid #ddd;;margin: 0; padding-top: 0px;padding-bottom: 0px;margin-top: 16px">
            <div style=""  class="free-item-products-container-header">
                <h3 style="margin: 0; font-size: 18px">{{ text_you_can_add_to_kit_next_products }}</h3>
            </div>
            <div class="free-items">
                {% set prev_item_position = -1 %}
                {% for index1,kit_product in kit_items %}
                    {% if (kit_product['products'] is not empty) %}
                        {% set add_empty_list_block = constant('false') %}
                        {% set empty_list_block_visible = constant('true') %}
                        {% if (kit_product['is_free_product'] and prev_item_position != kit_product['item_position']) %}
                            <div class="col-sm-12 empty-list-header" style=" {% if (kit_product['free_item_all_products_in_kit']) %} {{ 'display:none' }}{% endif %}" data-group-item-position="{{ kit_product['item_position'] }}">
                                {{ kit_product['item_title'] }}
                                <div class="be-group-free-button">
                                    <span class="be-button-add-group-to-kit" onclick="bundle_expert.addGroupToKit(this);" data-item-position="{{ kit_product['item_position'] }}">{{ text_add_free_group_to_kit }}</span>
                                    <span class="be-button-remove-group-rom-kit" onclick="bundle_expert.removeGroupFromKit(this);" data-item-position="{{ kit_product['item_position'] }}">{{ text_remove_free_group_to_kit }}</span>
                                </div>
                            </div>
                            {% set prev_item_position = kit_product['item_position'] %}
                            {% set add_empty_list_block = constant('true') %}
                        {% endif %}
                        {% if (kit_product['is_free_product'] ) %}
                            <div class="free-products-group" style=" {% if (kit_product['free_item_all_products_in_kit']) %} {{ 'display:none' }}{% endif %}" data-item-position ="{{ kit_product['item_position'] }}" data-group-item-position="{{ kit_product['item_position'] }}">
                                {% for index2,kit_item_product in kit_product['products'] %}
                                    {% if (kit_item_product['is_free_product'] and not kit_item_product['free_product_in_kit']) %}
                                        {{ kit_product['item_html'][index2] }}
                                        {% set empty_list_block_visible = constant('false') %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if (add_empty_list_block) %}

                        {% endif %}
                    {% endif %}

                {% endfor %}
            </div>


        </div>
    {% endif %}

</div>
