{{ header }}
<div id="account-forgotten" class="container">
	<nav aria-label="breadcrumb">
		<ul class="breadcrumb us-breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			{% if loop.last %}
			<li class="breadcrumb-item us-breadcrumb-item">{{ breadcrumb.text }}</li>
			{% else %}
			<li class="breadcrumb-item us-breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
	</nav>
	{% if oct_ultrastore_data.micro is defined and oct_ultrastore_data.micro %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement":
		[
		{% for breadcrumb in breadcrumbs %}
			{% if loop.first %}
			{% else %}
			{
			"@type": "ListItem",
			"position": {{ loop.index -1 }},
			"item":
			{
				"@id": "{{ breadcrumb.href }}",
				"name": "{{ breadcrumb.text }}"
			}
			}{% if not loop.last %},{% endif %}
			{% endif %}
		{% endfor %}
		]
	}
	</script>
	{% endif %}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="us-main-shop-title">{{ heading_title }}</h1>
		</div>
	</div>
	<div class="content-top-box">{{ content_top }}</div>
	{% if error_warning %}
	<script>
	usNotify('warning', '{{ error_warning }}');
	</script>
	{% endif %}
	<div class="row">{{ column_left }}
	    {% if column_left and column_right %}
	    {% set class = 'col-sm-6' %}
	    {% elseif column_left or column_right %}
	    {% set class = 'col-sm-9' %}
	    {% else %}
	    {% set class = 'col-sm-12' %}
	    {% endif %}
	    <div id="content" class="{{ class }}">
		    <div class="us-content">