<legend>
    <i class="fa fa-line-chart" aria-hidden="true"></i> {{ tab_name_discount_accumulative }} 
    <button form="help_modals" class="pull-right hm-help btn btn-primary btn-sm" data-toggle="modal" data-target="#Accumulative_Modal">
        <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
    </button>
</legend>
<div class="row">
  <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <td class="text-left name">
                    <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_name_titles }}">
                            {{ column_name }} 
                        </span>
                    </label>
                </td>
                <td class="text-left comment">
                    <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_description_titles }}">
                            {{ column_description }} 
                        </span>
                    </label>
                </td>
                <td class="text-center mini-style">
                    <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_edit_titles }}">
                            {{ column_edit }} 
                        </span>
                    </label>
                </td>
                <td class="text-center hidden">
                    <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_sort_order_titles }}">
                             {{ column_sort_order }} 
                        </span>
                    </label>
                </td>
                <td class="text-center mini-style">
                    <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_status_titles }}">
                            {{ column_status }} 
                        </span>
                    </label>
                </td>
                <td class="text-center mini-style">
                    <label class="control-label">
                        <span data-toggle="tooltip" title="" data-original-title="{{ column_delete_titles }}">
                           {{ column_delete }} 
                        </span>
                    </label>
                </td>
            </tr>
            </thead>
            <tbody>
            {% if (accumulative_discounts) %}
                {% set accumulative_discounts_counter = 1 %} 
                    {% for accumulative_discount in accumulative_discounts %} 
                    
                        <tr>
    
                            <td class="text-left"><input type="hidden" name="accumulative_discount[{{ accumulative_discounts_counter }}][discount_id]" value="{{ accumulative_discount['discount_id'] }}">{{ accumulative_discount['name'] }}</td>
                            <td class="text-left comment"><div class="comment-area">{{ accumulative_discount['description'] }}</div></td>
                            <td class="text-center"><a href="{{ accumulative_discount['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                            <td class="text-center hidden">
                                <input type="text" name="accumulative_discount[{{ accumulative_discounts_counter }}][sort_order]"
                                       value="{{ accumulative_discount['sort'] }}" class="form-control">
                            </td>
                            <td class="text-center">
                                <input class="bootstrap-switcher" type="checkbox" value="1" name="accumulative_discount[{{ accumulative_discounts_counter }}][status]" data-size="small" data-on-color="success"
                                    {% if (accumulative_discount['status']) %} {{ 'checked' }}{% endif %} >
                            </td>
                            <td class="text-center"><a href="{{ accumulative_discount['delete'] }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a></td>
                        </tr>
                    {% set accumulative_discounts_counter = accumulative_discounts_counter + 1 %} 
                {% endfor %} 
            {% endif %} 
            </tbody>
            <tfoot>
            <tr>
                <td colspan="4"></td>
                <td class="text-center">
                    <a href="{{ add_discount_accumulative }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
  </div>
</div>

<!-- Start Modal Help Accumulative Discount -->
<div class="modal fade" id="Accumulative_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> {{ help_name_accumulative }}</h4>
            </div>
            <div class="modal-body">
                <legend>{{ help_text }}</legend>
                <!--<div class="text-center">{{ help_first_accumulative }}</div>-->
                <div class="helper-info">{{ help_second_accumulative }}</div>
                <div class="text-center">{{ help_third_accumulative }}</div>
                <div class="helper-info">{{ help_fourth_accumulative }}</div>
                <div class="text-center">{{ help_fifth_accumulative }}</div>
                <div class="helper-info">{{ help_sixth_accumulative }}</div>
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Help Accumulative Discount -->

<script type="text/javascript">
    $('.bootstrap-switcher').bootstrapSwitch();
</script>