<legend>
    <i class="fa fa-pause" aria-hidden="true"></i> {{ tab_name_discount_products }} 
    <button form="help_modals" class="pull-right hm-help btn btn-primary btn-sm" data-toggle="modal" data-target="#Products_Modal">
        <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
    </button>
</legend>
<div class="row">
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <td class="text-left name">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_name_titles }}">
                                    {{ column_name }} 
                                </span>
                            </label>
                        </td>
                        <td class="text-left comment">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_description_titles }}">
                                    {{ column_description }} 
                                </span>
                            </label>
                        </td>
                        <td class="text-center mini-style">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_edit_titles }}">
                                    {{ column_edit }} 
                                </span>
                            </label>
                        </td>
                        <td class="text-center mini-style">
                            <label class="control-label">
                                <span data-toggle="tooltip" title="" data-original-title="{{ column_delete_titles }}">
                                    {{ column_delete }} 
                                </span>
                            </label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% if (products_discounts) %}
                    {% set products_discounts_counter = 1 %} 
                    {% for products_discount in products_discounts %} 
                     <tr>
                        <td class="text-left"><input type="hidden" name="products_discount[{{ products_discounts_counter }}][discount_id]" value="{{ products_discount['discount_id'] }}">{{ products_discount['name'] }}</td>
                        <td class="text-left comment"><div class="comment-area">{{ products_discount['description'] }}</div></td>
                        <td class="text-center"><a href="{{ products_discount['edit'] }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                        <td class="text-center"><a href="{{ products_discount['delete'] }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a></td>
                    </tr>
                    {% set products_discounts_counter = products_discounts_counter + 1 %} 
                    {% endfor %} 
                    {% endif %} 
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"></td>
                        <td class="text-center">
                            <a href="{{ add_discount_products }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<!-- Start Modal Help Products Discount -->
<div class="modal fade" id="Products_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> {{ help_name_products }}</h4>
            </div>
            <div class="modal-body">
                <legend>{{ help_text }}</legend>
                <div class="helper-info">{{ help_discount_text }}</div>
                <div class="text-center">{{ help_first_products }}</div>
                <div class="helper-info">{{ help_second_products }}</div>
                <div class="text-center">{{ help_third_products }}</div>
                <div class="helper-info">{{ help_fourth_products }}</div>
                <div class="text-center">{{ help_fifth_products }}</div>
                <div class="helper-info">{{ help_sixth_products }}</div>
                <div class="text-center">{{ help_seventh_products }}</div>
                <div class="helper-info">{{ help_eighth_products }}</div>
                <div class="text-center">{{ help_eleventh_products }}</div>
                <div class="helper-info">{{ help_twelfth_products }}</div>
                <div class="text-center">{{ help_thirteenth_products }}</div>
                <div class="helper-info">{{ help_fourteenth_products }}</div>
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- END Modal Help Products Discount -->
<script type="text/javascript">
    $('.bootstrap-switcher').bootstrapSwitch();
</script>