{{ header }}
<div id="product-manufacturer" class="container">
	{{ oct_breadcrumbs }}
	<div class="content-top-box">{{ content_top }}</div>
	<main>
		<div class="row">
			<div class="col-lg-12">
				<h1 class="us-main-shop-title">{{ heading_title }}</h1>
			</div>
		</div>
		<div class="us-category-content">
		<div class="row">
			{{ column_left }}
			{% if column_left and column_right %}
			{% set class = 'col-sm-6 is-cols' %}
			{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
			{% else %}
			{% set class = 'col-sm-12 no-col' %}
			{% endif %}
			<div id="content" class="{{ class }}">
				{% if products %}
				{% if oct_ultrastore_data.category_view_sort_oder is defined and (oct_ultrastore_data.category_view_sort_oder or oct_ultrastore_data.category_view_sort_oder == 'on') %}
				<div class="us-category-sort-block d-flex justify-content-between">
					<div class="sort-limit">
						<select id="input-sort" class="sort-select" onchange="location = this.value;">
							{% for sorts in sorts %}
								{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
								{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<select id="input-limit" class="limit-select" onchange="location = this.value;">
							{% for limits in limits %}
								{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
								{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<div class="us-category-appearance btn-group">
						<button type="button" id="list-view" class="us-category-appearance-btn" data-toggle="tooltip" data-placement="top" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
						<button type="button" id="grid-view" class="us-category-appearance-btn" data-toggle="tooltip" data-placement="top" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
					</div>
				</div>
				{% endif %}
				<div class="row us-category-products">
					{% for product in products %}
					<div class="product-layout product-grid col-sm-4"{% if oct_ultrastore_data.category_show_more is defined and oct_ultrastore_data.category_show_more %} data-pid="{{ product.product_id }}"{% endif %}>
						<div class="us-module-item d-flex flex-column{% if not product.can_buy and product.oct_grayscale %} us-no-stock{% endif %}">
							{% if product.oct_stickers is not empty%}
							<div class="us-module-stickers">
								{% if oct_sticker_you_save and product.you_save %}
									<div class="us-module-stickers-sticker us-module-stickers-sticker-discount">{{ product.you_save }}</div>
								{% endif %}
								{% for key, oct_sticker in product.oct_stickers %}
									{% if oct_sticker is not empty %}
									<div class="us-module-stickers-sticker us-module-stickers-sticker-{{ key }}">
										{{ oct_sticker }}
									</div>
									{% endif %}
								{% endfor %}
							</div>
							{% endif %}
							<ul class="us-module-buttons-list">
								<li class="us-module-buttons-item">
									<button type="button" onclick="wishlist.add('{{ product.product_id }}');" title="{{ button_wishlist }}" class="us-module-buttons-link us-module-buttons-wishlist"><i class="far fa-heart"></i></button>
								</li>
								<li class="us-module-buttons-item">
									<button type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');" class="us-module-buttons-link us-module-buttons-compare"><i class="fas fa-sliders-h"></i></button>
								</li>
								{% if oct_popup_view_status %}
								<li class="us-module-buttons-item">
									<button type="button" class="us-module-buttons-link us-module-buttons-quickview" title="{{ button_oct_popup_view }}" onclick="octPopUpView('{{ product.product_id }}')"><i class="far fa-eye"></i></button>
								</li>
								{% endif %}
							</ul>
							<div class="us-module-img">
								<a href="{{ product.href }}"><img src="{{ product.thumb }}"{% if oct_lazyload %} data-srcset="{{ product.thumb }} 100w" srcset="{{ oct_lazy_image }} 100w" sizes="100vw" class="oct-lazy"{% endif %} alt="{{ product.name }}" title="{{ product.name }}" width="{{ product.width }}" height="{{ product.height }}" /></a>
							</div>
							<div class="us-module-caption d-flex flex-column">
								<div class="us-module-title">
									<a href="{{ product.href }}">{{ product.name }}</a>
								</div>
								{% if product.oct_model is not empty %}
								<div class="us-module-model">{{ oct_view_model_cat }}{{ product.oct_model }}</div>
								{% endif %}
								{% if product.rating is not same as(false) %}
								<div class="us-module-rating d-flex align-items-center justify-content-center">
									<div class="us-module-rating-stars d-flex align-items-center">
										{% for i in 1..5 %}
										{% if product.rating < i %}
										<span class="us-module-rating-star"></span>
										{% else %}
										<span class="us-module-rating-star us-module-rating-star-is"></span>
										{% endif %}
										{% endfor %}
									</div>
									<div class="us-module-reviews"><i class="fas fa-comment"><span>{{ product.reviews }}</span></i></div>
								</div>
								{% endif %}
								{% if (product.description and product.description|length > 3) %}
									<div class="us-product-list-description">{{ product.description }}</div>
								{% endif %}
								{% if product.oct_atributes %}
						        <div class="us-category-attr-cont">
								{% for attribute in product.oct_atributes %}
									<span class="us-category-attr-item">
										<span>{{ attribute.name }}:</span> <span>{{ attribute.text }}</span>
									</span>
								{% endfor %}
								</div>
								{% endif %}
								{% if product.price %}
								<div class="us-module-price">
									{% if not product.special %}
									<span class="us-module-price-actual">{{ product.price }}</span>
									{% else %}
									<span class="us-module-price-old">{{ product.price }}</span><span class="us-module-price-new">{{ product.special }}</span>
									{% endif %}
									{% if product.tax %}
									<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>
									{% endif %}
								</div>
								{% endif %}
								{% if oct_ultrastore_data.category_view_quantity is defined and oct_ultrastore_data.category_view_quantity and product.can_buy is not empty %}
									<div class="us-product-category-quantity mt-auto">
										<div class="btn-group us-product-quantity" role="group">
											<button type="button" class="us-product-quantity-btn us-minus">-</button>
											<input type="text" class="form-control" name="quantity" value="{{ product.minimum }}" aria-label="Quantity" />
											<button type="button" class="us-product-quantity-btn us-plus">+</button>
											<input type="hidden" name="product_id" value="{{ product.product_id }}" />
											<input class="min-qty" type="hidden" value="{{ product.minimum }}" name="min_quantity">
										</div>
										<button class="us-module-cart-btn button-cart us-cat-button-cart">{{ button_cart }}</button>
									</div>
								{% else %}
									<a href="{% if product.can_buy is not empty %}javascript:void(0);{% else %}{{ product.href }}{% endif %}"{% if product.can_buy is not empty %} onclick="cart.add('{{ product.product_id }}');"{% endif %} class="us-module-cart-btn button-cart">{{ (product.stock and not product.can_buy) ? product.stock : button_cart }}</a>
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				{% if oct_ultrastore_data.category_show_more is defined and oct_ultrastore_data.category_show_more %}
				<div class="d-flex justify-content-center oct-load-more">
					<button class="us-module-btn oct-load-more-button text-center d-none" onClick="octLoadMore({% if oct_lazyload is defined and oct_lazyload %}1{% endif %});"><i class="fas fa-long-arrow-alt-down"></i>{{ oct_show_more_btn }}</button>
				</div>
				{% endif %}
				{{ pagination }}
				{% if oct_ultrastore_data.category_show_more is defined and oct_ultrastore_data.category_show_more %}
				<script src="catalog/view/theme/oct_ultrastore/js/oct-show-more.js"></script>
				<script>
					octCheckPagination();
				</script>
				{% endif %}
				{% else %}
				<p>{{ text_empty }}</p>
				<a href="{{ continue }}" class="us-module-btn mt-3 d-inline-block">{{ button_continue }}</a>
				{% endif %}
			</div>
			{{ column_right }}
		</div>
	</div>
	</main>
	{{ content_bottom }}
</div>
{{ footer }}
