{{ header }}
<style>.form-group+.form-group{border:none}</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" data-target="#form-settings" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ action_generate }}" data-toggle="tooltip" title="{{ button_generate }}" class="btn btn-warning"><i class="fa fa-cogs"></i></a>
        <a href="{{ action_cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ panel_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action_save }}" method="post" enctype="multipart/form-data" id="form-settings" class="form-horizontal">

          <fieldset>

            <legend>{{ text_legend_module }}</legend>

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-admin-dir">{{ entry_admin_dir }}</label>
              <div class="col-sm-10">
                <input type="text" name="security_fs_admin_dir" value="{{ security_fs_admin_dir }}" placeholder="{{ entry_admin_dir }}" id="input-admin-dir" class="form-control" />
              </div>
            </div>

          </fieldset>

          <fieldset>

            <legend>{{ text_legend_scanner }}</legend>

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-base-path">{{ entry_base_path }}</label>
              <div class="col-sm-10">
                <input type="text" name="security_fs_base_path" value="{{ security_fs_base_path }}" placeholder="{{ entry_base_path }}" id="input-base-path" class="form-control" />
                
                {% if error_base_path %}
                <div class="text-danger">{{ error_base_path }}</div>
                {% endif %}
              </div>
            </div>

            <div class="form-group required">
              <label class="col-sm-2 control-label" for="input-extensions"><span data-toggle="tooltip" title="{{ entry_extensions_help }}">{{ entry_extensions }}</span></label>
              <div class="col-sm-10">
                <textarea name="security_fs_extensions" id="input-extensions" class="form-control" cols="30" rows="10">{{ security_fs_extensions }}</textarea>
                {% if error_extensions %}
                <div class="text-danger">{{ error_extensions }}</div>
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-include">{{ entry_include }}</label>
              <div class="col-sm-10">
                <textarea name="security_fs_include" id="input-include" class="form-control" cols="30" rows="10">{{ security_fs_include }}</textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-exclude">{{ entry_exclude }}</label>
              <div class="col-sm-10">
                <textarea name="security_fs_exclude" id="input-exclude" class="form-control" cols="30" rows="10">{{ security_fs_exclude }}</textarea>
              </div>
            </div>
          </fieldset>

          <fieldset>

            <legend>{{ text_legend_cron_opencart }}</legend>

            <div class="form-group">

              <label class="col-sm-2 control-label" for="cron_cycle">{{ entry_cron_jobs }}</label>

              <div class="col-sm-10">
                {% if cron_job_installed %}
                <div class="input-group"> 
                  <select class="form-control" id="cron_cycle">
                      <option value="hour">{{ text_cron_interval_hour }}</option>
                      <option value="day">{{ text_cron_interval_day }}</option>
                      <option value="month">{{ text_cron_interval_month }}</option>
                  </select> 
                  <span class="input-group-btn">
                      <button class="btn btn-primary" id="btn_register_cron">{{ button_add_task }}</button>
                  </span>
                </div>
                <br>
              {% else %}
                <p class="form-control-static">{{ error_cron_job_installed }}</p>
              {% endif %}
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ entry_cron_save_help }}">{{ entry_cron_save }}</span></label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  {% if security_fs_cron_save %}
                  <input type="radio" name="security_fs_cron_save" value="1" checked="checked" />
                  {{ text_yes }}
                  {% else %}
                  <input type="radio" name="security_fs_cron_save" value="1" />
                  {{ text_yes }}
                  {% endif %}
                </label>
                <label class="radio-inline">
                  {% if security_fs_cron_save == false %}
                  <input type="radio" name="security_fs_cron_save" value="0" checked="checked" />
                  {{ text_no }}
                  {% else %}
                  <input type="radio" name="security_fs_cron_save" value="0" />
                  {{ text_no }}
                  {% endif %}
                </label>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="{{ entry_cron_notify_help }}">{{ entry_cron_notify }}</span></label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  {% if security_fs_cron_notify %}
                  <input type="radio" name="security_fs_cron_notify" value="1" checked="checked" />
                  {{ text_yes }}
                  {% else %}
                  <input type="radio" name="security_fs_cron_notify" value="1" />
                  {{ text_yes }}
                  {% endif %}
                </label>
                <label class="radio-inline">
                  {% if security_fs_cron_notify == false %}
                  <input type="radio" name="security_fs_cron_notify" value="0" checked="checked" />
                  {{ text_no }}
                  {% else %}
                  <input type="radio" name="security_fs_cron_notify" value="0" />
                  {{ text_no }}
                  {% endif %}
                </label>
              </div>
            </div>

          </fieldset>

        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function($) {
    $('#input-cron-access-key').trigger('change');

    $('#btn_register_cron').on('click', function(event){
      event.preventDefault();

      $.ajax({
        url: 'index.php?route=extension/module/fs_monitor/registerCron&user_token={{ user_token }}',
        type: 'post',
        data: 'cycle=' + $('#cron_cycle option:selected').val(),
        dataType: 'json',
        beforeSend: function() {
          $('#btn_register_cron').button('loading');
          $('.alert').remove();
        },
        complete: function() {
          $('#btn_register_cron').button('reset');
        },
        success: function(json) {
          if (json['success']) {
            $('#cron_cycle').parents('.col-sm-10').find('br').after('<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          };

          if (json['error']) {
            $('#cron_cycle').parents('.col-sm-10').find('br').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });

    });

    $('#input-cron-access-key').on('change keyup paste', function(event) {
      event.preventDefault();
      var output_field = $('#input-cron-wget');
      $(output_field).val($(output_field).data('default') + $(this).val());

      var output_field = $('#input-cron-curl');
      $(output_field).val($(output_field).data('default') + $(this).val());

      var output_field = $('#input-cron-cli');
      $(output_field).val($(output_field).data('default') + $(this).val());

    });

  });
</script>
{{ footer }}