{% if may_advanced_options %}
<div id="may-advanced-options" class="hidden">
<div class="options">
{{ may_advanced_options_template.hidden }}
{% if not options or options|length == 0 %}
<hr>
<h3 class="hidden">{{ text_option }}</h3>
{% endif %}
{% for option in may_advanced_options %}
<div class="tt-wrapper form-default type-{{ may_advanced_options_config['swatches'] ? 'swatches' : option['type'] }} may-advanced-option-level-{{ (option['advanced_option_id']|split('-'))|length }} {{ option['init_visible'] ? 'visible' : 'hidden' }}" data-advanced-option-id="{{ option['advanced_option_id'] }}">
{% if not may_advanced_options_config['swatches'] %}
{% if option['type'] == 'select' %}
<div class="tt-title-options">
  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
</div>
<div class="form-group{{ option['required'] ? ' required' : '' }}">
  <select for="#option-{{ option['product_option_id'] }}" id="input-option{{ option['product_option_id'] }}" data-advanced-option-id="{{ option['advanced_option_id'] }}" class="form-control may-advanced-option" {{ option['init_disable'] ? 'disabled' : '' }}>
    <option value="">{{ text_select }}</option>
    {% for option_value in option['product_option_value'] %}
    <option value="{{ option_value['product_option_value_id'] }}" data-advanced-option-id="{{ option['advanced_option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}" data-option-value='{{ option_value|json_encode|escape }}'>{{ option_value['name'] }}
    {% if may_advanced_options_config['show_option_price'] and option_value['price'] %}
    ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
    {% endif %}
    </option>
    {% endfor %}
  </select>
</div>
{% endif %}
{% if option['type'] == 'radio' %}
<div class="tt-title-options">
  <label class="control-label">{{ option['name'] }}</label>
</div>
<div class="form-group{{ option['required'] ? ' required' : '' }}">
  <div id="input-option{{ option['product_option_id'] }}">
    {% for option_value in option['product_option_value'] %}
    <div class="radio">
      <label>
        <input type="radio" name="may_advanced_option_{{ option['product_option_id'] }}" for="#option-{{ option['product_option_id'] }}" value="{{ option_value['product_option_value_id'] }}" data-advanced-option-id="{{ option['advanced_option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}" class="may-advanced-option" {% if option_value['product_images'] %}data-option-value-image-origin="{{ option_value['product_images'][0]['origin'] }}" data-option-value-image-popup="{{ option_value['product_images'][0]['popup'] }}" data-option-value-image-thumb="{{ option_value['product_images'][0]['thumb'] }}"{% endif %} {{ option['init_disable'] ? 'disabled' : '' }}  data-option-value='{{ option_value|json_encode|escape }}'/>
        {% if option_value['image'] %}
        <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] }}{{ option_value['price'] ? " #{option_value['price_prefix']}#{option_value['price']}" : '' }}" class="img-thumbnail" /> 
        {% endif %}
        {{ option_value['name'] }}
        {% if may_advanced_options_config['show_option_price'] and option_value['price'] %}
        ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
        {% endif %}
      </label>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% else %}
<div class="tt-title-options">
  <label class="control-label">{{ option['name'] }}&nbsp;<span class="selected-option-label"></span></label>
</div>
<div class="form-group{{ option['required'] ? ' required' : '' }}">
  <div id="input-option{{ option['product_option_id'] }}" class="may-swatches">
    {% for option_value in option['product_option_value'] %}
      <label>
        <input type="radio" data-label="{{ option_value['name'] }}{% if may_advanced_options_config['show_option_price'] %}{{ (option_value['price']) ? "#{option_value['price_prefix']}#{option_value['price']}" : '' }}{% endif %}" name="may_advanced_option_{{ option['product_option_id'] }}" for="#option-{{ option['product_option_id'] }}" value="{{ option_value['product_option_value_id'] }}" data-advanced-option-id="{{ option['advanced_option_id'] }}" data-option-value-id="{{ option_value['option_value_id'] }}" class="may-advanced-option"  {% if option_value['product_images'] %}data-option-value-image-origin="{{ option_value['product_images'][0]['origin'] }}" data-option-value-image-popup="{{ option_value['product_images'][0]['popup'] }}" data-option-value-image-thumb="{{ option_value['product_images'][0]['thumb'] }}"{% endif %} {{ option['init_disable'] ? 'disabled' : '' }} data-option-value='{{ option_value|json_encode|escape }}'/>
        {% if may_advanced_options_config['swatch_image'] and option_value['product_images'] %}
        <img src="{{ option_value['product_images'][0]['thumb'] }}" alt="{{ option_value['name'] }}{{ option_value['price'] ? " #{option_value['price_prefix']}#{option_value['price']}" : '' }}" class="img-thumbnail" /> 
        {% elseif option_value['image'] %}
        <img src="{{ option_value['image'] }}" alt="{{ option_value['name'] }}{{ option_value['price'] ? "#{option_value['price_prefix']}#{option_value['price']}" : '' }}" class="img-thumbnail" /> 
        {% else %}
        <span>
        {{ option_value['name'] }}
        {% if option_value['price'] %}
        ({{ option_value['price_prefix'] }}{{ option_value['price'] }})
        {% endif %}
        </span>
        {% endif %}
      </label>
    {% endfor %}
  </div>
</div>
{% endif %}
<input type="hidden" name="option[{{ option['product_option_id'] }}]" id="option-{{ option['product_option_id'] }}" />
</div>
{% endfor %}
</div>
</div>
{% if may_advanced_options_config['swatches'] %}
<style type="text/css">
{{ may_advanced_options_config['swatch_css'] }}
</style>
<style id="may-advanced-options-swatch-style">
.may-swatches input[type=radio] + img,
.may-swatches input[type=radio] + span {
	border: {{ may_advanced_options_config['swatch_style_border_width'] }}px solid #{{ may_advanced_options_config['swatch_style_border_color_default'] }};
	min-width: {{ may_advanced_options_config['swatch_style_size_width'] }}px;
	height: {{ may_advanced_options_config['swatch_style_size_height'] }}px;
	border-radius: {{ may_advanced_options_config['swatch_style_size_radius'] }}px;
}
.may-swatches input[type=radio] + img {
	max-width: {{ may_advanced_options_config['swatch_style_size_width'] }}px;
	padding: {{ may_advanced_options_config['swatch_style_space_padding'] }}px;
}
.may-swatches input[type=radio] + span {
	padding: {{ may_advanced_options_config['swatch_style_space_padding'] + 4 }}px;
	line-height: {{ may_advanced_options_config['swatch_style_size_height'] - may_advanced_options_config['swatch_style_space_padding'] * 2 - 8 }}px;
}
.may-swatches input[type=radio]:enabled + img:hover,
.may-swatches input[type=radio]:enabled + span:hover,
.may-swatches input[type=radio]:checked + img,
.may-swatches input[type=radio]:checked + span {
	border-color: #{{ may_advanced_options_config['swatch_style_border_color_selected'] }};
}
</style>
{% endif %}
<script type="text/javascript"><!--
{% if not options or options|length == 0 %}
	if ($('div.tt-swatches-container').length) {
		$('div.tt-swatches-container').prepend($('#may-advanced-options').html());
	}
{% else %}
	if ($($('div.tt-swatches-container [id^=\'input-option\']').get({{ options|length - 1 }})).length) {
		$($('div.tt-swatches-container [id^=\'input-option\']').get({{ options|length - 1 }})).closest('div.options').append($('#may-advanced-options').html());
	}
{% endif %}
$('#may-advanced-options').remove();

{% if may_advanced_options_config['theme'] == 'journal3' %}
Journal['quickviewPageStylePriceUpdate'] = false;
Journal['productPageStylePriceUpdate'] = false;
{% endif %}
var may_option_value_quantity = -1;
$(document).delegate('.may-advanced-option', 'change', function(event) {
	$($(this).attr('for')).val($(this).val());

	var $selected_option;
	var visible_option_advanced_id;

	var advanced_option_id = $(this).data('advanced-option-id');
	var advanced_option_level = (typeof advanced_option_id == 'string') ? advanced_option_id.split('-').length : 1;

	if ($('div.may-advanced-option-level-' + (advanced_option_level + 1) + '[data-advanced-option-id^=\'' + advanced_option_id + '\']').length) {
		while ($('div.may-advanced-option-level-' + (advanced_option_level + 1) + '[data-advanced-option-id^=\'' + advanced_option_id + '\']').length) {
			if ($('div.visible.may-advanced-option-level-' + advanced_option_level).length) {
				if ($('div.visible.may-advanced-option-level-' + advanced_option_level).hasClass('type-select')) {
					$selected_option = $('div.visible.may-advanced-option-level-' + advanced_option_level + ' .may-advanced-option option:selected');
					if (!$selected_option.length) {
						$selected_option = $('div.visible.may-advanced-option-level-' + advanced_option_level + ' .may-advanced-option option:first');
					}
				} else {
					$selected_option = $('div.visible.may-advanced-option-level-' + advanced_option_level + ' .may-advanced-option:checked');
					if (!$selected_option.length) {
						$selected_option = $('div.visible.may-advanced-option-level-' + advanced_option_level + ' .may-advanced-option:first');
					}
				}
			}

			if (typeof $selected_option.data('advanced-option-id') !== 'undefined') {
				visible_option_advanced_id = $selected_option.data('advanced-option-id') + '-' + $selected_option.data('option-value-id');
			} else {
				visible_option_advanced_id = $('div.may-advanced-option-level-' + (advanced_option_level + 1) + '[data-advanced-option-id^=\'' + visible_option_advanced_id + '-\']:first').data('advanced-option-id');
			}

			$('div.may-advanced-option-level-' + (advanced_option_level + 1)).each(function(index) {
				if ($(this).data('advanced-option-id') == visible_option_advanced_id) {
					$(this).find('.may-advanced-option').prop('disabled', false);
					$(this).removeClass('hidden');
					$(this).addClass('visible');

					var $selected_option_value;
					if ($(this).hasClass('type-select')) {
						$selected_option_value = $(this).find('.may-advanced-option option:selected');
					} else {
						$selected_option_value = $(this).find('.may-advanced-option:checked');
					}

					if ($selected_option_value.length) {
						$(this).find('input[type=\'hidden\']').val($selected_option_value.val());
					} else {
						$(this).find('input[type=\'hidden\']').val(0);
					}
				} else {
					$(this).find('.may-advanced-option').prop('disabled', true);
					$(this).find('input[type=\'hidden\']').val(-1);
					$(this).removeClass('visible');
					$(this).addClass('hidden');
				}
			});

			advanced_option_level ++;
		}
	} else {
		$selected_option = $(this);
	}

	var advanced_option_elements = $('div.visible').get().reverse();

	var currency_position = "{{ currency['symbol_position'] }}";
	var currency_symbol = "{{ currency['symbol'] }}";
	var currency_decimal_place = "{{ currency['decimal_place'] }}";
	var decimal_point = "{{ currency['decimal_point'] }}";
	var thousand_point = "{{ currency['thousand_point'] }}";

	var convertPriceStringToNumber = function(str) {
		var result = str.replace(currency_symbol, "");
		result = result.split(thousand_point).join('');
		result = result.replace(decimal_point, '');
		result = parseFloat(result) / Math.pow(10, currency_decimal_place);
		return result;
	}

	var price = convertPriceStringToNumber("{{ price }}");
	var special = convertPriceStringToNumber("{{ special }}");
	var base_price = convertPriceStringToNumber("{{ tax }}");

	var is_sku_updated = false;
	var is_image_updated = false;
	var is_quantity_updated = false;

	for (var i=0; i<advanced_option_elements.length; i++) {
		var $elem = $(advanced_option_elements[i]);
		var $selected_option;
		if ($elem.hasClass('type-select')) {
			$selected_option = $elem.find('.may-advanced-option option:selected');
		} else {
			$selected_option = $elem.find('.may-advanced-option:checked');
		}

		if (!$selected_option.length || $selected_option.data('option-value') == undefined) {
			if ($elem.hasClass('type-select')) {
				$elem.find('.may-advanced-option option').eq(0).prop('selected', true);
				$selected_option = $elem.find('.may-advanced-option option:selected');
			} else {
				$elem.find('.may-advanced-option').eq(0).prop('checked', true);
				$selected_option = $elem.find('.may-advanced-option:checked');
			}
			$elem.find('input[type=\'hidden\']').val($selected_option.val());
		}

		if (!$selected_option.length || $selected_option.data('option-value') == undefined) {
			continue;
		}

		var selected_option_value_id = $selected_option.data('option-value-id');
		if ($elem.hasClass('type-select')) {
			$('.may-advanced-option option[data-option-value-id="' + selected_option_value_id + '"]').prop('selected', true);
		} else {
			$('.may-advanced-option[data-option-value-id="' + selected_option_value_id + '"]').prop('checked', true);
		}

		var option_value = $selected_option.data('option-value');
		if (typeof option_value == 'string') {
			option_value = JSON.parse(option_value);
		}

		// SKU
		if (!is_sku_updated && option_value['sku'] != undefined && option_value['sku'] != "") {
			var option_value_sku = option_value['sku'];
			var $elem_sku = $('div.tt-add-info ul li').eq(0);
			if ($elem_sku.length) {
				$elem_sku.find('span.sku').remove();
				$elem_sku.html($elem_sku.html() + '<span class="sku">-' + option_value_sku + '</span>');
			}
			$('input:hidden[name=\'option[sku]\']').val(option_value_sku);

			is_sku_updated = true;
		}

		// Quantity
		if (!is_quantity_updated && (option_value['subtract'] || option_value['quantity'])) {
			var option_value_quantity = option_value['quantity'];
			may_option_value_quantity = parseInt(option_value_quantity);
			if (option_value_quantity == 0 && option_value['subtract'] != 1) {
				option_value_quantity = '{{ stock }}';
				may_option_value_quantity = -1;
			}
			var $elem_quantity = $('div.tt-add-info ul li').eq(1);
			if ($elem_quantity.length) {
				$elem_quantity.html('{{ text_stock }} ' + option_value_quantity);
			}

			is_quantity_updated = true;
		}

		// Product Images
		if (!is_image_updated && option_value['product_images'] != undefined) {
			var new_main_image = "";
			var new_additional_images = [];
			var new_additional_images_for_mobile = [];
			option_value['product_images'].forEach(function(item, index) {
				if (item['origin'] == "") {
					return;
				}

                if (new_main_image == "") {
                    new_main_image = item['popup'];
                }

                new_additional_images.push(item['popup']);
				new_additional_images_for_mobile.unshift('<div><img src=' + item['popup'] + ' alt=""></div>');
			});

            var old_images_to_remove_count = Math.min(new_additional_images.length, $('#smallGallery .slick-slide').length);
            for (var slick_slide_index = 0; slick_slide_index < old_images_to_remove_count; slick_slide_index++) {
                $('#smallGallery li').eq(slick_slide_index).find('a').attr('data-image', new_additional_images[slick_slide_index]);
                $('#smallGallery li').eq(slick_slide_index).find('a').attr('data-zoom-image', new_additional_images[slick_slide_index]);
                $('#smallGallery li').eq(slick_slide_index).find('a img').attr('src', new_additional_images[slick_slide_index]);

                $('.tt-mobile-product-slider').slick('slickRemove', 0);
            }

            for (var slick_slide_index = 0; slick_slide_index < new_additional_images_for_mobile.length; slick_slide_index++) {
                $('.tt-mobile-product-slider').slick('slickAdd', new_additional_images_for_mobile[0], 0, 1);
            }

            $('.tt-mobile-product-slider').slick('refresh');

            $('.tt-product-single-img img.zoom-product').attr('src', new_main_image);
            $('.tt-product-single-img img.zoom-product').data('zoomImage', new_main_image);
            if ($('.tt-product-single-img img.zoom-product').data('elevateZoom') !== undefined) {
                $('.tt-product-single-img img.zoom-product').data('elevateZoom').currentImage = new_main_image;
                $('.tt-product-single-img img.zoom-product').data('elevateZoom').zoomImage = new_main_image;
                $('.tt-product-single-img img.zoom-product').data('elevateZoom').imageSrc = new_main_image;
                $('.zoomWindow').css('backgroundImage', 'url(' + new_main_image + ')');
            }

			$('input:hidden[name=\'option[image]\']').val(option_value['product_images'][0]['origin']);

			is_image_updated = true;
		}

		{% if may_advanced_options_config['swatches'] %}
		// Update Labels
		var option_value_label = $selected_option.data('label');
		if (option_value_label != undefined) {
			$selected_option.closest('.type-swatches').find('span.selected-option-label').html(option_value_label != "" ? "- " + option_value_label : "");
		}
		{% endif %}


		// Update Prices
		if (option_value['price_prefix'] == "+") {
			if (option_value['price']) {
				price = price + convertPriceStringToNumber(option_value['price']);
				special = special + convertPriceStringToNumber(option_value['price']);
			}
			if (option_value['base_price']) {
				base_price = base_price + convertPriceStringToNumber(option_value['base_price']);
			}
		} else if (option_value['price_prefix'] == "-") {
			if (option_value['price']) {
				price = price - convertPriceStringToNumber(option_value['price']);
				special = special - convertPriceStringToNumber(option_value['price']);
			}
			if (option_value['base_price']) {
				base_price = base_price - convertPriceStringToNumber(option_value['base_price']);
			}
		}
	}

	var convertPriceNumberToString = function(number) {
		numberInt = Math.floor(number);
		numberDecimal = Math.round((number - numberInt) * Math.pow(10, currency_decimal_place)) + Math.pow(10, currency_decimal_place);
		var result = numberInt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, thousand_point) + decimal_point + numberDecimal.toString().substring(1);
		if (currency_position == "left") {
			result = currency_symbol + result;
		} else {
			result = result + currency_symbol;
		}

		return result;
	}

	// Update Prices
	price = convertPriceNumberToString(price);
	special = convertPriceNumberToString(special);
	base_price = convertPriceNumberToString(base_price);
	
	{% if not special %}
	$('#price-old').html(price);
	{% else %}
	$('#price-special').html(special);
	$('#price-old').html(price);
    {% endif %}
	{% if tax %}
	$('#price-tax').html(base_price);
	{% endif %} // tax

	return false;
});

$("#button-cart, [data-quick-buy]").each(function() {
	$(this).on("click", function (event) {
		var is_all_option_selected = true;
		$('.form-group.visible input[type="hidden"]').each(function() {
			if ($(this).val() == 0) {
				is_all_option_selected = false;
			}
		});

		if (is_all_option_selected && may_option_value_quantity != -1 && parseInt($('input[name="quantity"]').val()) > may_option_value_quantity) {
			$('.form-group.visible').removeClass('has-error');
			$('.form-group.visible .text-danger').remove();
			$('#error-quantity.has-error').remove();

			{% if may_advanced_options_config['theme'] == 'journal3' %}
			$('input[name="quantity"]').closest('.buttons-wrapper').after('<div id="error-quantity" class="has-error">{{ may_advanced_options_language['error_option_stock'] }}</div>');
			{% else %}
			$('input[name="quantity"]').after('<div id="error-quantity" class="has-error">{{ may_advanced_options_language['error_option_stock'] }}</div>');
			{% endif %}

			event.preventDefault();
			event.stopImmediatePropagation();
			return false;
		} else {
			$('#error-quantity.has-error').remove();
		}
	});
	var btnEvent = $._data($(this).get(0), 'events').click.pop();
	$._data($(this).get(0), 'events').click.unshift(btnEvent);
});
--></script>
{% endif %}
