{{ header }}
<div class="content-wrapper template-form history-template-page" id="content-omanager">

<link rel="stylesheet" type="text/css" href="view/javascript/ompro/codemirror/lib/codemirror.css"/>
<script type="text/javascript" src="view/javascript/ompro/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="view/javascript/ompro/codemirror/addon/matchbrackets.js"></script>
<script type="text/javascript" src="view/javascript/ompro/codemirror/addon/autorefresh.js"></script>
<script type="text/javascript" src="view/javascript/ompro/codemirror/mode/xml.js"></script>
<link rel="stylesheet" type="text/css" href="view/javascript/ompro/codemirror/theme/rubyblue.css"/>

<link rel="stylesheet" href="view/javascript/ompro/summernote/summernote.css" type="text/css"/>
<script type="text/javascript" src="view/javascript/ompro/summernote/summernote.js"></script>
<script type="text/javascript" src="view/javascript/ompro/summernote/opencart.js"></script>
<script type="text/javascript" src="view/javascript/ompro/summernote/lang/summernote-ru-RU.js"></script>

<section class="content-header">
  <h1>
	{{ heading_title }}
	<small>{{ heading_template_edit }}</small>
  </h1>
  <ol class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
		{{ breadcrumb }}
	{% endfor %}
  </ol>
</section>

<section class="content">
<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
  <div class="box">
	<div class="box-header with-border">
		<div class="row">
		  <div class="col-lg-10 box-tools pull-left">
			<div class="col-lg-5">
			  <div class="form-group valid-block">
				<span class="input-group">
					<div class="input-group-addon" data-toggle="tooltip" title="{{ text_code }}">{{ text_tpl_code }}</div>
					<div class="input-group-addon" data-toggle="tooltip" title="{{ entry_template_name }}"><i class="fa fa-text-width"></i></div>
					<input type="text" id="input-name" name="template[name]" value="{{ template['name'] is defined ? template['name'] : text_new_template }}" class="field-input mustbe form-control" />
				</span>
			  </div>
			</div>
			<div class="col-lg-7">
			  <div class="form-group">
				<span class="input-group">
					<div class="input-group-addon" data-toggle="tooltip" title="{{ entry_template_description }}"><i class="fa fa-info"></i></div>
					<textarea name="template[description]" id="input-description" rows="1" class="form-control">{{ template['description'] is defined ? template['description'] : '' }}</textarea>
				</span>
			  </div>
			</div>
		  </div>
		  <div class="col-lg-2 box-tools pull-right text-right">
			<a id="button_save" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save }}</a>
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
		  </div>
		</div>
	</div>
	<div class="box-body">
		<div class="nav-tabs-custom">
		  <ul id="nav-tabs" class="nav nav-tabs">
            <li><a href="#tab-template" data-toggle="tab">{{ tab_template_sms }}</a></li>
			<li><a href="#tab_backup" data-toggle="tab"><i class="fa fa-database"></i>&nbsp;&nbsp;{{ text_tab_backup }}</a></li>
          </ul>
		  <div class="tab-content">
            <div class="tab-pane" id="tab-template">
			  <div class="nav-tabs-custom">
				<div class="callout callout-default">
					<p><a class="btn btn-info btn-xs" style="text-decoration: none;" href="http://brest001.ru/ompro_doc/ompro_tpl_sms.html"  target="_blank" data-toggle="tooltip" title="{{ text_doc_link }}" ><i class="fa fa-question-circle"></i>&nbsp;&nbsp; {{ text_help }}</a>&nbsp;&nbsp; <i class="fa fa-exclamation-triangle text-red"></i> {{ text_template_sms_info1 }}</p>
					<p><i class="fa fa-exclamation-triangle text-blue"></i> {{ text_template_sms_info2 }}</p>
				</div>
				<ul id="languages" class="nav nav-tabs">
				  {% for language in languages %}
				  <li><a href="#language{{ language['language_id'] }}" data-toggle="tab"><img src="{% if (ocversion >= 220) %} {{ 'language/'~language['code']~'/'~language['code']~'.png' }} {% else %} {{ 'view/image/flags/'~ language['image'] }} {% endif %}" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
				  {% endfor %}
				</ul>
				<div class="tab-content">
				  {% for language in languages %}
					<div id="language{{ language['language_id'] }}" class="tab-pane">
						<div class="form-group">
						  <label class="col-sm-2 control-label">{{ entry_sms_template }}&nbsp;&nbsp;<i data-toggle="tooltip" title="{{ entry_sms_template_help }}" class="fa fa-question-circle text-blue"></i></label>
						  <div class="col-sm-10">
							<textarea class="htmlTextArea form-control textarea-summernote" name="template[message][{{ language['language_id'] }}]">{{ template['message'][language['language_id']] is defined ? template['message'][language['language_id']] : '' }}</textarea>
						  </div>
						</div>
					</div>
				  {% endfor %}
				</div>
			  </div>
			</div>
			<div class="tab-pane" id="tab_backup">
				<div class="callout callout-default">
					<p><i class="fa fa-exclamation-triangle text-blue"></i> {{ text_tab_backup_help }}</p>
				</div>
				<div class="panel panel-default">
				  <div class="panel-body">
					<div class="row" style="margin-bottom: 15px;">
						<label class="col-sm-2 control-label text-right">{{ entry_save_to_file }}</label>
						<div class="col-sm-10">
						  <a class="btn btn-primary" target="_blank" href="{{ backup_link }}" id="button-backup">{{ button_save }}</a>
						</div>
					</div>
					<div class="row">
						<label class="col-sm-2 control-label text-right">{{ entry_restore_from_file }}</label>
						<div class="col-sm-10">
							<table class="restore-table">
							  <tr>
								<td>
								  <input class="btn btn-default" name="import" type="file" />
								  <input name="restore" type="hidden" value="0" id="restore" />
								</td>
								<td>
								  <a class="btn btn-primary button-restore" disabled="disabled">{{ button_restore }}</a>
								</td>
							  </tr>
							</table>
						</div>
					</div>
				  </div>
				</div>
			</div>
		  </div>
		</div>
	</div>
  </div>
</form>
</section>

<!-- import. restore, save  -->
<script type="text/javascript"><!--

var has_permission = '{{ has_permission }}';

$('input[name=\'import\']').bind('change', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		$('input[name=\'import\']').val('');
		return false;
	}
	var imp = $('input[name=\'import\']').val();
	if (imp) {
		$('.button-restore').attr('disabled', false);
	} else {
		$('.button-restore').attr('disabled', true);
	}
});

$('.button-restore').bind('click', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		return false;
	}
	var imp = $('input[name=\'import\']').val();
	if (!imp) { return false; }

	var template_id = '{{ template_id }}';

	if (template_id < 1) {
		toastr.error('{{ error_restore_no_template }}', '{{ text_alert_error }}');
		return false;
	} else {
		$('#restore').val(1);
		var url = '{{ restore_link }}';
		url = url.replace(/&amp;/g, "&");
		$('#form').attr('action', url).submit();
	}
});

$('#button_save').bind('click', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		return false;
	} else if (!window.validation.isValid({ container: '#form' })) {
		modalAlert('modal-danger', '{{ text_alert_error }}', '<p>{{ text_error_form }}</p>', '');
		return false;
	} else {
		var url = '{{ action }}';
		url = url.replace(/&amp;/g, "&");
		$('#form').attr('action', url).submit();
	}
});

//--></script>

<script type="text/javascript"><!--

$(document).delegate('#form, #form input, #form sellect, #form textarea', 'change', function() {
	if ($('#button_save').hasClass('btn-primary')) {
		$('#button_save').removeClass('btn-primary').addClass('btn-danger');
	}
});

$(document).ready(function(){
	var error = '{{ error_warning }}';
	var success = '{{ success }}';
	if (error) {
		modalAlert('modal-danger', '{{ text_alert_error }}', '<p>'+error+'</p>', '');
	}
	if (success) {
		toastr.success(success, '{{ text_alert_success }}');
	}

	$('.htmlTextArea').each(function(){
		var htmlTextArea = $(this);
		var cm = CodeMirror.fromTextArea($(this)[0], { height: "150px", mode: "text/html", theme: 'rubyblue', lineNumbers: true, matchBrackets: true, lineWrapping: true, autoRefresh: true })
		.on('change', editor => {
			htmlTextArea.html(editor.getValue()).trigger('change');
		});
	});

	$(function () { window.validation.init({ container: '#form' });});

	$('.nav-tabs').each(function(){
		$(this).find('a:first').tab('show');
	});
});

$("form").bind("keypress", function (e) {
    if (e.keyCode == 13) { return false; }
});

//--></script>

</div>
{{ footer }}