{{ header }}
<div class="content-wrapper" id="content-omanager">
	<section class="content-header">
	  <h1> {{ heading_title }}</h1>
	  <ol class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			{{ breadcrumb }}
		{% endfor %}
	  </ol>
	</section>

	<section class="content" id="content">
	  <div class="box">
		<div class="box-header with-border">
		  <h3 class="box-title"><a class="btn btn-info btn-xs" style="text-decoration: none;" href="http://brest001.ru/ompro_doc/ompro_tpl_list.html"  target="_blank" data-toggle="tooltip" title="{{ text_doc_link }}" ><i class="fa fa-question-circle"></i>&nbsp;&nbsp; {{ text_help }}</a>&nbsp;&nbsp;  {{ text_list_template }}</h3>
		  <div class="box-tools pull-right">
			<a href="{{ insert }}" data-toggle="tooltip" title="{{ button_template_insert }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i></a>
			<button type="button" data-action="copy" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-sm btn-primary need-selected"><i class="fa fa-copy"></i></button>
			<button type="button" data-action="delete" data-toggle="tooltip" title="{{ button_template_delete }}" class="btn btn-sm btn-danger need-selected"><i class="fa fa-trash-o"></i></button>
		  </div>
		</div>
		<div class="box-body">
		  <div class="table-templates table-responsive">
			<form action="" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
			<table class="table table-bordered table-hover">
			  <thead>
				<tr class="active">
				  <th style="width: 60px;" class="text-center">
					<input type="checkbox" class="minimal check-all-selected" title="{{ text_select_all }}"/>
				  </th>
				  <th class="text-center" style="width: 80px;">
					<a href="{{ sort_template_id }}" class="sort-list {{ sort == 'template_id' ? order|lower : '' }}">{{ column_template_id }}</a>
				  </th>
				  <th class="text-left" style="width: 120px;">
					<a href="{{ sort_code }}" class="sort-list {{ sort == 'code' ? order|lower : '' }}">{{ column_template_code }}</a>
				  </th>
				  {% if (get_page == 'filter' or get_page == 'filter_product') %}
				  <th class="text-left" style="min-width: 160px;">
					<a href="{{ sort_filter_id }}" class="sort-list {{ sort == 'filter_id' ? order|lower : '' }}">{{ column_filter_id }}</a>
				  </th>
				  {% endif %}
				  <th class="text-left" style="min-width: 200px;">
					<a href="{{ sort_name }}" class="sort-list {{ sort == 'name' ? order|lower : '' }}">{{ column_template_name }}</a>
				  </th>
				  <th class="text-left">{{ column_template_description }}</th>
				  <th class="text-left" style="min-width: 160px;">
					<a href="{{ sort_date_added }}" class="sort-list {{ sort == 'date_added' ? order|lower : '' }}">{{ column_date_added }}</a>
				  </th>
				  <th class="text-left" style="min-width: 160px;">
					<a href="{{ sort_date_modified }}" class="sort-list {{ sort == 'date_modified' ? order|lower : '' }}">{{ column_date_modified }}</a>
				  </th>
				  <th class="text-right" style="width: 80px;">{{ column_action }}</th>
				</tr>
			  </thead>
			  <tbody>
				<tr id="filters">
				  <td></td>
				  <td class="text-left">
					<div class="input-group input-group-sm full-width">
						<input type="text" name="filter_template_id" value="{{ filter_template_id }}" class="filter-tpl form-control" />
					</div>
				  </td>
				  <td class="text-left">
					<div class="input-group input-group-sm full-width">
						<input type="text" name="filter_code" value="{{ filter_code }}" class="filter-tpl form-control" />
					</div>
				  </td>
				  {% if (get_page == 'filter' or get_page == 'filter_product') %}
				  <td class="text-left">
					<div class="input-group input-group-sm full-width">
						<input type="text" name="filter_filter_id" value="{{ filter_filter_id }}" class="filter-tpl form-control" />
					</div>
				  </td>
				  {% endif %}
				  <td class="text-left">
					<div class="input-group input-group-sm full-width">
						<input type="text" name="filter_name" value="{{ filter_name }}" class="filter-tpl form-control" />
					</div>
				  </td>
				  <td></td>
				  <td class="text-left">
					<div class="input-group input-group-sm full-width">
						<input type="text" id="filter_date_added" name="filter_date_added" value="{{ filter_date_added }}" class="datepicker_default filter-tpl form-control" />
					</div>
				  </td>
				  <td class="text-left">
					<div class="input-group input-group-sm full-width">
						<input type="text" id="filter_date_modified" name="filter_date_modified" value="{{ filter_date_modified }}" class="datepicker_default filter-tpl form-control" />
					</div>
				  </td>
				  <td class="text-right">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-default" data-toggle="tooltip" title="{{ button_clear_all }}" onclick="$('.filter-tpl').val('').trigger('change');"><i class="fa fa-times-circle"></i></button>
						<button type="button" class="btn btn-primary" data-toggle="tooltip" title="{{ button_apply_filter }}" onclick="$('.filter-tpl').trigger('change');"><i class="fa fa-filter"></i></button>
					</div>
				  </td>
				</tr>

				{% if (templates) %}
				  {% for template in templates %}
					<tr>
					  <td class="text-center">
						<input type="checkbox" name="selected[]" value="{{ template['template_id'] }}" class="minimal"/>
					  </td>
					  <td class="text-center">{{ template['template_id'] }}</td>
					  <td class="text-center">{{ template['code'] }}</td>
					  {% if (get_page == 'filter' or get_page == 'filter_product') %}
					  <td class="text-left">{{ template['filter_id'] }}</td>
					  {% endif %}
					  <td class="text-left">{{ template['name'] }}</td>
					  <td class="text-left">{{ template['description'] }}</td>
					  <td class="text-left">{{ template['date_added'] }}</td>
					  <td class="text-left">{{ template['date_modified'] }}</td>
					  <td class="text-right">
						<div class="btn-group btn-group-sm"><a href="{{ template['edit'] }}" data-toggle="tooltip" title="{{ button_template_edit }}" class="btn btn-primary"><i class="fa fa-edit"></i></a></div>
					  </td>
					</tr>
				  {% endfor %}
				{% else %}
				  <tr>
					<td class="text-center" colspan="10">{{ text_no_results }}</td>
				  </tr>
				{% endif %}
			  </tbody>
			</table>
			</form>
		  </div>
		  <div class="row">
			<div class="col-sm-6 text-left pagination-sm">{{ pagination }}</div>
			<div class="col-sm-6 text-right pagination_results">{{ pagination_results }}</div>
		  </div>
		</div>
	  </div>
	</section>

<script type="text/javascript"><!--

$(document).delegate('.filter-tpl', 'change', function() {
	url = 'index.php?route=sale/ompro/templateList&{{ strtoken }}&get_page={{ get_page ~ block_target }}';

	var filter_template_id = $('input[name=\'filter_template_id\']').val();
	if (filter_template_id) {
		url += '&filter_template_id=' + encodeURIComponent(filter_template_id);
	}

	var filter_code = $('input[name=\'filter_code\']').val();
	if (filter_code) {
		url += '&filter_code=' + encodeURIComponent(filter_code);
	}

	var filter_filter_id = $('input[name=\'filter_filter_id\']').val();
	if (filter_filter_id) {
		url += '&filter_filter_id=' + encodeURIComponent(filter_filter_id);
	}

	var filter_name = $('input[name=\'filter_name\']').val();
	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_date_added = $('input[name=\'filter_date_added\']').val();
	if (filter_date_added) {
		url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
	}

	var filter_date_modified = $('input[name=\'filter_date_modified\']').val();
	if (filter_date_modified) {
		url += '&filter_date_modified=' + encodeURIComponent(filter_date_modified);
	}

	$('#content-omanager').load(url + ' #content-omanager > *', function() {
		iCheckStart();
		dpStart();
	});
});

var has_permission = '{{ has_permission }}';

$(document).delegate('.need-selected', 'click', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		return false;
	}
	var selected = $('input[name^=\'selected\']:checked');
	if (!selected.length) {
		toastr.warning('{{ text_alert_not_selected }}', '{{ text_alert_warning }}');
		return false;
	}

	var action = $(this).attr('data-action');

	if (action == 'delete') {
		if (!confirm('{{ confirm_template_delete }}')) { return false; }
		var url = '{{ delete }}';
		url = url.replace(/&amp;/g, "&");
	}

	if (action == 'copy') {
		var url = '{{ copy }}';
		url = url.replace(/&amp;/g, "&");
	}

	$('#form').attr('action', url);
	$('#form').attr('target', '_self');
	$('#form').submit();
});

$(document).ready(function(){
	var error = '{{ error_warning }}';
	var success = '{{ success }}';
	if (error) {
		modalAlert('modal-danger', '{{ text_alert_error }}', '<p>'+error+'</p>', '');
	}
	if (success) {
		toastr.success(success, '{{ text_alert_success }}');
	}

	iCheckStart();
	dpStart();
	tooltipRefresh();
});

//--></script>

</div>
{{ footer }}