<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ title }}</title>
<base href="{{ base }}" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

<!-- Bootstrap 3.3.7 css -->
<link rel="stylesheet" type="text/css" href="view/javascript/ompro/bootstrap/bootstrap.min.css" />

<!-- AdminLTE -->
<link rel="stylesheet" href="view/javascript/ompro/AdminLTE/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="view/javascript/ompro/AdminLTE/AdminLTE.css" />
<link rel="stylesheet" href="view/javascript/ompro/AdminLTE/skin-blue.css" />
<link rel="stylesheet" href="view/javascript/ompro/AdminLTE/pace.min.css" />
<link rel="stylesheet" href="view/javascript/ompro/AdminLTE/jquery-ui.min.css" type="text/css"/>

<!-- ompro -->
<link rel="stylesheet" type="text/css" href="view/javascript/ompro/ompro.css?{{ version }}" />

<script src="view/javascript/ompro/AdminLTE/jquery.min.js"></script>
<script src="view/javascript/ompro/AdminLTE/jquery-ui.min.js"></script>
<script src="view/javascript/ompro/AdminLTE/jquery.knob.min.js"></script><script>
  window.paceOptions = {
    ajax: {
      trackMethods: ["GET", "POST"]
    }
  };
</script>
<script src="view/javascript/ompro/AdminLTE/pace.min.js"></script>

<script src="view/javascript/ompro/AdminLTE/adminlte.js"></script>
<script src="view/javascript/ompro/AdminLTE/jquery.inputmask.js"></script>

<!-- Bootstrap 3.3.7 js -->
<script src="view/javascript/ompro/bootstrap/bootstrap.min.js"></script>
<!-- airdatepicker -->
<link type="text/css" rel="stylesheet" href="view/javascript/ompro/airdatepicker.min.css" />
<script type="text/javascript" src="view/javascript/ompro/airdatepicker.min.js"></script>
<script type="text/javascript" src="view/javascript/ompro/airdatepicker.en.js"></script>
<!-- multiselect -->
<link rel="stylesheet" href="view/javascript/ompro/bootstrap-multiselect.css" type="text/css"/>
<script type="text/javascript" src="view/javascript/ompro/bootstrap-multiselect.js"></script>

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

<script type="text/javascript"><!--

if (localStorage.getItem('sidebar-collapse') == 'collapse') {
	$('body').addClass('sidebar-collapse');
} else {
	$('body').removeClass('sidebar-collapse');
}

//--></script>

<header class="main-header">
<a href="#" class="logo" alt="{{ heading_title }}" data-toggle="push-menu" role="button">
  <span class="logo-mini" data-toggle="tooltip" data-placement="bottom" title="{{ text_hide_menu }}"><i class="fa fa-indent" style="font-size: 14px;" ></i></span>
  <span class="logo-lg"><small class="pull-left"><i class="fa fa-dedent" style="font-size: 14px;" data-toggle="tooltip" data-placement="bottom" title="{{ text_show_menu }}"></i><span data-toggle="tooltip" data-placement="bottom" title="{{ heading_title }}"><span style="font-size: 12px;">&nbsp;&nbsp; {{ 'Order Manager PRO v.'~version }}</span></span></small></span>
</a>

<nav class="navbar navbar-static-top">
  <div class="navbar-custom-menu">
	<ul class="nav navbar-nav pull-right">
	  <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if (alerts > 0) %}  <span class="label label-danger pull-left">{{ alerts }}</span>{% endif %} <i class="fa fa-bell-o"></i></a>
		<ul class="dropdown-menu dropdown-menu-right alerts-dropdown" style="font-size: 13px;">
			<li class="dropdown-header">{{ text_notifications }}</li>
			<li class="divider"></li>
			<li class="dropdown-header">{{ text_orders }}</li>
			<li><a class="quick-filter-trigger" data-filter_id="filter_order_status_id"  data-filter_value="{{ processing_status }}" style="display: block; overflow: auto; cursor: pointer;"><span class="label label-warning pull-right">{{ processing_status_total }}</span>{{ text_processing_status }}</a></li>
			<li><a class="quick-filter-trigger" data-filter_id="filter_order_status_id"  data-filter_value="{{ complete_status }}" style="display: block; overflow: auto; cursor: pointer;"><span class="label label-success pull-right">{{ complete_status_total }}</span>{{ text_complete_status }}</a></li>
			<li><a href="{{ return }}" target="_blank"><span class="label label-danger pull-right">{{ return_total }}</span>{{ text_return }}</a></li>
			<li class="divider"></li>
			<li class="dropdown-header">{{ text_customer }}</li>
			<li><a href="{{ online }}" target="_blank"><span class="label label-success pull-right">{{ online_total }}</span>{{ text_online }}</a></li>
			<li class="divider"></li>
			<li class="dropdown-header">{{ text_product }}</li>
			<li><a href="{{ product }}" target="_blank"><span class="label label-danger pull-right">{{ product_total }}</span>{{ text_stock }}</a></li>
			<li><a href="{{ review }}" target="_blank"><span class="label label-danger pull-right">{{ review_total }}</span>{{ text_review }}</a></li>
		</ul>
	  </li>
	  <li class="dropdown notifications-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ text_stores }}&nbsp;&nbsp;<i class="fa fa-cart-arrow-down"></i></a>
		<ul class="dropdown-menu">
		  <li class="header">{{ text_stores }}</li>
		  <li>
			<ul class="menu">
			{% for store in stores %}
			  <li><a href="{{ store['href'] }}" target="_blank"><i class="fa fa-shopping-cart text-aqua"></i> {{ store['name'] }}</a></li>
			{% endfor %}
			</ul>
		  </li>
		</ul>
	  </li>
	  <li>
		<a href="{{ home }}">{{ text_homepage }}&nbsp;&nbsp;<i class="fa fa-dashboard"></i></a>
	  </li>
	  <li>
		<a href="{{ logout }}">{{ text_logout }}&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
	  </li>
	</ul>
  </div>
</nav>
</header>

<aside class="main-sidebar">
<section class="sidebar">
  <div class="user-panel">
  {% if (image) %}
	<div class="pull-left image">
	  <img src="{{ image }}" class="img-circle" alt="{{ firstname }} {{ lastname }}" title="{{ username }}">
	</div>
  {% else %}
	<div class="pull-left image text-info">
	  <i class="fa fa-opencart"></i>
	</div>
  {% endif %}
	<div class="pull-left info">
	  <p>{{ firstname }} {{ lastname }}</p>
	  {% if (logged) %}
	  <a><i class="fa fa-circle text-success"></i> OnLine</a>
	  {% else %}
	  <a><i class="fa fa-circle text-danger"></i> OffLine</a>
	  {% endif %}
	</div>
  </div>
  <ul class="sidebar-menu" data-widget="tree">
	{{ menu_setting }}
	<li class="header">{{ text_header_orders }}
		<span class="pull-right-container">
			<span class="label label-warning pull-right" data-toggle="tooltip" title="{{ text_processing_status }}">{{ processing_status_total }}</span>
			<span class="label label-success pull-right" data-toggle="tooltip" title="{{ text_complete_status }}">{{ complete_status_total }}</span>
			<span class="label label-danger pull-right" data-toggle="tooltip" title="{{ text_return }}">{{ return_total }}</span>
		</span>
	</li>
	<li class="treeview {{ order_pages_treeview_active }}">
	{% for page in order_pages %}
		<li id="pageid_{{ page['id'] }}" class="pageid {{ page['active'] }}">
			<a href="{{ page['href'] }}">{{ page['icon'] }}<span>{{ page['name'] }}</span></a>
		</li>
	{% endfor %}
	</li>
  </ul>
</section>
</aside>