{{ header }}
<div class="content-wrapper" id="content-omanager">
<link type="text/css" rel="stylesheet" href="view/javascript/ompro/chosen.min.css"/>
<script type="text/javascript" src="view/javascript/ompro/chosen.jquery.min.js"></script>

<section class="content-header">
  <h1>
	{{ heading_title }}
	<small>{{ heading_template_edit }}</small>
  </h1>
  <ol class="breadcrumb">
	{% for breadcrumb in breadcrumbs %}
		{{ breadcrumb }}
	{% endfor %}
  </ol>
</section>

<section class="content">
<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
  <div class="box">
	<div class="box-header with-border">
		<div class="row">
		  <div class="col-sm-10 box-tools pull-left">
			<div class="col-sm-5">
			  <div class="form-group valid-block">
				<span class="input-group">
					<div class="input-group-addon" data-toggle="tooltip" title="{{ text_code }}">{{ text_tpl_code }}</div>
					<div class="input-group-addon" data-toggle="tooltip" title="{{ entry_template_name }}"><i class="fa fa-text-width"></i></div>
					<input type="text" id="input-name" name="template[name]" value="{{ template['name'] is defined ? template['name'] : text_new_template }}" class="field-input mustbe form-control" />
				</span>
			  </div>
			</div>
			<div class="col-sm-7">
			  <div class="form-group">
				<span class="input-group">
					<div class="input-group-addon" data-toggle="tooltip" title="{{ entry_template_description }}"><i class="fa fa-info"></i></div>
					<textarea name="template[description]" id="input-description" rows="1" class="form-control">{{ template['description'] is defined ? template['description'] : '' }}</textarea>
				</span>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-2 box-tools pull-right text-right">
			<a id="button_save" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;{{ button_save }}</a>
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
		  </div>
		</div>
	</div>

	<div class="box-body box-content hidden-default">
		<div class="nav-tabs-custom">
		  <ul id="nav-tabs" class="nav nav-tabs">
            <li><a href="#tab-template" data-toggle="tab">{{ text_tab_template_filter }}</a></li>
			<li><a href="#tab_backup" data-toggle="tab"><i class="fa fa-database"></i>&nbsp;&nbsp;{{ text_tab_backup }}</a></li>
          </ul>

		  <div class="tab-content">
			<div class="tab-pane" id="tab-template">

			  <div class="panel panel-default">
				<div class="panel-body">
				  <div class="callout callout-default">
					<p><a class="btn btn-info btn-xs" style="text-decoration: none;" href="http://brest001.ru/ompro_doc/ompro_tpl_filter_order.html"  target="_blank" data-toggle="tooltip" title="{{ text_doc_link }}" ><i class="fa fa-question-circle"></i>&nbsp;&nbsp; {{ text_help }}</a>&nbsp;&nbsp; {{ text_info_main }}</p>
					<div id="alert_log_sql" class="{% if (not log_sql) %}hidden-default{% endif %}">
						<p><i class="fa fa-exclamation-triangle text-red"></i> {{ text_alert_log_sql }}</p>
					</div>
				  </div>
				  <div class="radio" style="padding-top: 0; padding-bottom: 0; min-height: auto;">
					<label>{{ text_log_sql }}&nbsp;&nbsp;<i class="fa fa-info-circle text-blue" data-toggle="tooltip" title="{{ text_log_sql_info }}"></i></label>&nbsp;&nbsp;
					<label>
					  <input type="radio" name="log_sql" value="1" {% if (log_sql) %}checked{% endif %} />
					  {{ text_yes }}
					</label>
					<label>&nbsp;&nbsp;
					  <input type="radio" name="log_sql" value="0" {% if (not log_sql) %}checked{% endif %} />
					  {{ text_no }}
					</label>
				  </div>
				</div>
			  </div>

			  <div class="panel-group">
				  <!-- PARAMS -->
				  <div class="panel panel-default">
					<div class="panel-heading"><i class="fa fa-filter"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a data-toggle="collapse" href="#set-params"><span style="color: #95b6ca;"><i class="fa fa-sort"></i></span>&nbsp;&nbsp; {{ text_filter_param_block_title }}</a></div>
					<div id="set-params" class="panel-collapse collapse in">
					  <div class="panel-body">

						<div class="panel panel-default">
							<div class="panel-heading"><a data-toggle="collapse" aria-expanded="false" class="collapsed" href="#class-info"><i class="fa fa-sort text-blue"></i>&nbsp;&nbsp; {{ text_validate_class_table }} &nbsp;&nbsp;<i class="fa fa-info-circle text-blue" data-toggle="tooltip" title="{{ text_validate_class_table_info }}"></i></a></div>
							<div id="class-info" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
							  <div class="panel-body table-responsive">{{ input_validate_class_table }}</div>
							</div>
						</div>

						<div id="panel-params">
						  <div class="row">
							<div class="col-sm-8">
							  <div class="row">
								<div class="col-sm-3">
								  <label class="control-label"><span class="font-weight-reset">{{ text_filter_label_filter_id }}</span></label>
								  <div class="panel valid-block">
									<span class="input-group">
										<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_required_input }}"><i class="fa fa-exclamation-triangle text-red"></i></span>
										<input type="text" id="filter_id" name="template[filter_id]" value="{{ template['filter_id'] is defined ? template['filter_id'] : '' }}" class="field-input validid form-control" placeholder="filter_order_id" target-error-id="error_filter_id"/>
									</span>
								  </div>
								</div>
								<div class="col-sm-3">
								  <label class="control-label"><span class="font-weight-reset">{{ text_filter_label_main_class }}</span></label>
								  <div class="panel valid-block">
									<span class="input-group">
										<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_main_class }}"><i class="fa fa-info text-blue"></i></span>
										<input type="text" name="template[filter_main_class]" value="{{ template['filter_main_class'] is defined ? template['filter_main_class'] : '' }}" class="field-input validclass form-control" placeholder="class..." target-error-id="error_filter_class"/>
									</span>
								  </div>
								</div>
								<div class="col-sm-3">
								  <label class="control-label" for="input-tooltip"><span class="font-weight-reset">{{ text_filter_label_tooltip }}</span></label>
								  <div class="panel">
									<textarea  id="input-tooltip" name="template[tooltip]" rows="1" class="form-control">{{ template['tooltip'] is defined ? template['tooltip'] : '' }}</textarea>
								  </div>
								</div>
								<div class="col-sm-3">
								  <label class="control-label"><span class="font-weight-reset">{{ text_filter_label_input_type }}</span></label>
								  <div class="panel">
									<select name="template[input_type]" id="input-type" class="form-control">
									  {% for input in input_type_list %}
										<option value="{{ input['type'] }}" {% if (template['input_type'] is defined and template['input_type'] == input['type']) %} selected="selected"{% endif %}>{{ input['name'] }}</option>
									  {% endfor %}
									</select>
								  </div>
								</div>
							  </div>
							</div>
							<div class="col-sm-4 hidden-default" id="select_class_col">
								<label class="control-label"><span class="font-weight-reset">{{ text_filter_label_selector_class }}</span></label>
								<div id="select_class_block" class="panel"></div>
							</div>
							<div class="col-sm-4 hidden-default" id="input_placeholder_col">
								<label class="control-label"><span class="font-weight-reset">{{ text_filter_label_placeholder }}</span></label>
								<div id="input_placeholder_block" class="panel"></div>
							</div>
						  </div>
						  <div class="row hidden-default" id="select_value_row"></div>
						  <div class="row">
							<div class="col-sm-4 hidden-default" id="handler_class_col">
							  <label class="control-label"><span class="font-weight-reset">{{ text_filter_label_handler_class }}</span></label>
							  <div id="handler_class_block" class="panel"></div>
							</div>
							<div class="col-sm-8">
							  <div class="row">
								<div class="col-sm-12 hidden-default" id="input_mask_col">
								  <label class="control-label"><span class="font-weight-reset">{{ text_filter_label_input_mask }} <small><a href="https://github.com/RobinHerbots/Inputmask/" target="_blank">{{ text_documentation }}</a></small></span></label>
								  <div id="input_mask_block" class="panel"></div>
								</div>
								<div class="col-sm-12 hidden-default" id="autocomplete_col">
								  <div id="autocomplete_block" class="panel"></div>
								</div>
							  </div>
							</div>
						  </div>
						  <div class="row hidden-default" id="multiselect_row"></div>
						  <div class="row hidden-default" id="dp_params_row"></div>
						</div>
					  </div>
					</div>
				  </div>

				  <!-- SEARCH SETTING -->
				  <div class="panel panel-default">
					<div class="panel-heading"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a data-toggle="collapse" href="#set-search"><span style="color: #95b6ca;"><i class="fa fa-sort"></i></span>&nbsp;&nbsp; {{ text_filter_search_param_block_title }}</a>&nbsp;&nbsp;  <a type="button" class="btn-link" onclick="$('#search-help').slideToggle();"><i class="fa fa-question text-warning"></i> &nbsp;{{ button_help }}</a></div>
					<div id="set-search" class="panel-collapse collapse in">
					  <div class="panel-body">
							<div id="search-help" class="hidden-default">
								<p><i class="fa fa-exclamation-triangle text-orange"></i>&nbsp; {{ text_filter_search_help1 }}
								<br/><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_filter_search_help2 }}
								<br/><i class="fa fa-exclamation-triangle text-red"></i>&nbsp; {{ text_filter_search_help3 }}
								<br/><i class="fa fa-exclamation-triangle text-red"></i>&nbsp; {{ text_filter_search_help6 }}
								<br/><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_filter_search_help4 }}
								<br/><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_filter_search_help5 }}
								</p>
							</div>

							<div class="panel panel-default">
							  <table id="tags_table" class="table table-bordered">
								<thead>
								  <tr class="active">
									<td colspan="4" class="valid-block">
									  <span class="input-group" style="width: 100%;">
										<span class="input-group-addon" data-toggle="tooltip">{{ text_filter_entry_separator }}</span>
										<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_separator_help }}"><i class="fa fa-info text-blue"></i></span>
										<input type="text" id="tags_separator" name="template[tags_separator]" value="{{ template['tags_separator'] }}" class="field-input notcyrillics form-control" />
									  </span>
									</td>
								  </tr>
								  <tr>
									<th colspan="3">
									  <div class="radio" style="padding-top: 0; padding-bottom: 0; min-height: auto;">
										<label>
										  <input type="radio" name="template[tags_manual_status]" value="0" {% if (not tags_manual_status) %}checked{% endif %} class="tags_manual_status" />
										  {{ text_filter_method_params }}
										</label>&nbsp;&nbsp;
										<label>
										  <input type="radio" name="template[tags_manual_status]" value="1" {% if (tags_manual_status) %}checked{% endif %} class="tags_manual_status" />
										  {{ text_filter_method_manual }}
										</label>
									  </div>
									</th>
								  </tr>
								</thead>
							  </table>
							</div>
					  </div>
					</div>
				  </div>

				  <!-- CLEAR BUTTON -->
				  <div class="panel panel-default">
					<div class="panel-heading"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a data-toggle="collapse" href="#set-clearbtn"><span style="color: #95b6ca;"><i class="fa fa-sort"></i></span>&nbsp;&nbsp; {{ text_clear_btn }}</a></div>
					<div id="set-clearbtn" class="panel-collapse collapse in">
					  <div class="panel-body">

					  <div class="col-sm-1">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_status }}</span></label>
						<div class="panel">
						  <select name="template[btn_clear_status]" id="input-table-head"  class="form-control">
							<option value="1" {% if (template['btn_clear_status'] is defined and template['btn_clear_status'] == 1) %} selected="selected"{% endif %}>{{ text_enabled }}</option>
							<option value="0" {% if (template['btn_clear_status'] is defined and template['btn_clear_status'] == '0') %} selected="selected"{% endif %}>{{ text_disabled }}</option>
						  </select>
						</div>
					  </div>
					  <div class="col-sm-1">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_position }}</span></label>
						<div class="panel">
						  <select name="template[btn_clear_position]" class="form-control">
							<option value="right" {% if (template['btn_clear_position'] is defined and template['btn_clear_position'] == 'right') %} selected="selected"{% endif %}>{{ text_right }}</option>
							<option value="left" {% if (template['btn_clear_position'] is defined and template['btn_clear_position'] == 'left') %} selected="selected"{% endif %}>{{ text_left }}</option>
						  </select>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_type }}</span></label>
						<div class="panel">
							<select name="template[btn_clear_type]" class="form-control">
								<option value="icon" {% if (template['btn_clear_type'] is defined and template['btn_clear_type'] == 'icon') %} selected="selected"{% endif %}>{{ text_btn_type_icon }}</option>
								<option value="text" {% if (template['btn_clear_type'] is defined and template['btn_clear_type'] == 'text') %} selected="selected"{% endif %}>{{ text_btn_type_text }}</option>
								<option value="icontext" {% if (template['btn_clear_type'] is defined and template['btn_clear_type'] == 'icontext') %} selected="selected"{% endif %}>{{ text_btn_type_icon_text }}</option>
								<option value="icontext" {% if (template['btn_clear_type'] is defined and template['btn_clear_type'] == 'texticon') %} selected="selected"{% endif %}>{{ text_btn_type_text_icon }}</option>
							</select>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_title_tooltip }}</span></label>
						<div class="panel">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_btn_info_title_type }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_clear_title]" value="{{ template['btn_clear_title'] is defined and template['btn_clear_title'] is not empty ? template['btn_clear_title'] : text_clear }}" class="form-control" />
						  </div>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_text }}</span></label>
						<div class="panel">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_btn_text_info }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_clear_text]" value="{{ template['btn_clear_text'] is defined and template['btn_clear_text'] is not empty ? template['btn_clear_text'] : text_clear }}" class="form-control" />
						  </div>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_class }}</span></label>
						<div class="panel valid-block">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_btn_class_info }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_clear_class]" value="{{ template['btn_clear_class'] is defined and template['btn_clear_class'] is not empty ? template['btn_clear_class'] : 'btn btn-default' }}" class="field-input validclass form-control" placeholder="btn btn-default" />
						  </div>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_icon_class }}</span></label>
						<div class="panel valid-block">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_icon_class_info }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_clear_icon]" value="{{ template['btn_clear_icon'] is defined and template['btn_clear_icon'] is not empty ? template['btn_clear_icon'] : 'fa fa-times-circle' }}" class="field-input validclass form-control" placeholder="fa fa-times" />
						  </div>
						</div>
					  </div>

					  </div>
					</div>
				  </div>

				  <!-- APPLY BUTTON -->
				  <div class="panel panel-default">
					<div class="panel-heading"><i class="fa fa-filter"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a data-toggle="collapse" href="#set-applybtn"><span style="color: #95b6ca;"><i class="fa fa-sort"></i></span>&nbsp;&nbsp; {{ text_apply_btn }}</a></div>
					<div id="set-applybtn" class="panel-collapse collapse in">
					  <div class="panel-body">

					  <div class="col-sm-1">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_status }}</span></label>
						<div class="panel">
						  <select name="template[btn_apply_status]" id="input-table-head"  class="form-control">
							<option value="1" {% if (template['btn_apply_status'] is defined and template['btn_apply_status'] == 1) %} selected="selected"{% endif %}>{{ text_enabled }}</option>
							<option value="0" {% if (template['btn_apply_status'] is defined and template['btn_apply_status'] == '0') %} selected="selected"{% endif %}>{{ text_disabled }}</option>
						  </select>
						</div>
					  </div>
					  <div class="col-sm-1">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_position }}</span></label>
						<div class="panel">
						  <select name="template[btn_apply_position]" class="form-control">
							<option value="right" {% if (template['btn_apply_position'] is defined and template['btn_apply_position'] == 'right') %} selected="selected"{% endif %}>{{ text_right }}</option>
							<option value="left" {% if (template['btn_apply_position'] is defined and template['btn_apply_position'] == 'left') %} selected="selected"{% endif %}>{{ text_left }}</option>
						  </select>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_type }}</span></label>
						<div class="panel">
							<select name="template[btn_apply_type]" class="form-control">
								<option value="icon" {% if (template['btn_apply_type'] is defined and template['btn_apply_type'] == 'icon') %} selected="selected"{% endif %}>{{ text_btn_type_icon }}</option>
								<option value="text" {% if (template['btn_apply_type'] is defined and template['btn_apply_type'] == 'text') %} selected="selected"{% endif %}>{{ text_btn_type_text }}</option>
								<option value="icontext" {% if (template['btn_apply_type'] is defined and template['btn_apply_type'] == 'icontext') %} selected="selected"{% endif %}>{{ text_btn_type_icon_text }}</option>
								<option value="icontext" {% if (template['btn_apply_type'] is defined and template['btn_apply_type'] == 'texticon') %} selected="selected"{% endif %}>{{ text_btn_type_text_icon }}</option>
							</select>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_title_tooltip }}</span></label>
						<div class="panel">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_btn_info_title_type }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_apply_title]" value="{{ template['btn_apply_title'] is defined and template['btn_apply_title'] is not empty ? template['btn_apply_title'] : text_apply }}" class="form-control" />
						  </div>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_text }}</span></label>
						<div class="panel">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_btn_text_info }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_apply_text]" value="{{ template['btn_apply_text'] is defined and template['btn_apply_text'] is not empty ? template['btn_apply_text'] : text_apply }}" class="form-control" />
						  </div>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_btn_class }}</span></label>
						<div class="panel valid-block">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_btn_class_info }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_apply_class]" value="{{ template['btn_apply_class'] is defined and template['btn_apply_class'] is not empty ? template['btn_apply_class'] : 'btn btn-primary' }}" class="field-input validclass form-control" placeholder="btn btn-primary" />
						  </div>
						</div>
					  </div>
					  <div class="col-sm-2">
						<label class="control-label"><span class="font-weight-reset">{{ text_label_icon_class }}</span></label>
						<div class="panel valid-block">
						  <div class="input-group">
							<span class="input-group-addon" data-toggle="tooltip" title="{{ text_icon_class_info }}"><i class="fa fa-info text-blue"></i></span>
							<input type="text" name="template[btn_apply_icon]" value="{{ template['btn_apply_icon'] is defined and template['btn_apply_icon'] is not empty ? template['btn_apply_icon'] : 'fa fa-filter' }}" class="field-input validclass form-control" placeholder="fa fa-filter" />
						  </div>
						</div>
					  </div>

					  </div>
					</div>
				  </div>
			  </div>

			  <!-- PREVIEW -->
			  <div class="row">
				<div class="col-sm-12">
				  <div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><i class="fa fa-eye"></i>&nbsp;&nbsp;{{ text_filter_preview_block_title }}</h4>
					</div>
					<div class="panel-body" style="min-height: 100px;">
					  <div class="row">
						  <div class="col-sm-6 ">
							<div class="btn-group btn-group-justified">
							  <div class="btn-group">
								<button type="button" location="table" class="btn btn-default btn-preview">{{ text_btn_preview_table_filter_row }}</button>
							  </div>
							  <div class="btn-group">
								<button type="button" location="top" class="btn btn-default btn-preview">{{ text_btn_preview_filter_panel }}</button>
							  </div>
							</div>
						  </div>
						  <div class="col-sm-6" id="preview-block">{{ text_no_results }}</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>

			  <!--  INFO -->
			  <div class="row">
				<div class="col-sm-12">
				  <div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">{{ text_filter_info_block_title }}</h4>
					</div>
					<div class="panel-body">
						<div class="col-sm-12 no-padding">
							<p><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_info_bootstrap }}
							<br/><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_info_awesome }}
							<br/><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_info_multiselect }}
							<br/><i class="fa fa-exclamation-triangle text-blue"></i>&nbsp; {{ text_info_datepicker }}</p>
						</div>
					</div>
				  </div>
				</div>
			  </div>

			</div>

			<div class="tab-pane" id="tab_backup">
				<div class="callout callout-default">
					<p><i class="fa fa-exclamation-triangle text-blue"></i> {{ text_tab_backup_help }}</p>
				</div>
				<div class="panel panel-default">
				  <div class="panel-body">
					<div class="row" style="margin-bottom: 15px;">
						<label class="col-sm-2 control-label text-right">{{ entry_save_to_file }}</label>
						<div class="col-sm-10">
						  <a class="btn btn-primary" target="_blank" href="{{ backup_link }}" id="button-backup">{{ button_save }}</a>
						</div>
					</div>
					<div class="row">
						<label class="col-sm-2 control-label text-right">{{ entry_restore_from_file }}</label>
						<div class="col-sm-10">
							<table class="restore-table">
							  <tr>
								<td>
								  <input class="btn btn-default" name="import" type="file" />
								  <input name="restore" type="hidden" value="0" id="restore" />
								</td>
								<td>
								  <a class="btn btn-primary button-restore" disabled="disabled">{{ button_restore }}</a>
								</td>
							  </tr>
							</table>
						</div>
					</div>
				  </div>
				</div>
			</div>

		  </div>
		</div>

	</div>
  </div>
</form>
</section>

<div id="hidden_elements" style="display: none;">
	<table id="hidden_tags_table">
		<tbody id="tags_table_manual_tbody">
		  <tr>
			<td colspan="3" class="valid-block">
			  <div class="input-group" style="width: 100%;">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_manual_input }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[tags_manual]" value="{{ template['tags_manual'] }}" class="field-input sqlwithexclude form-control" />
			  </div>
			</td>
		  </tr>
		</tbody>
		<tbody id="tags_table_params_tbody">
		  <tr class="active">
			<th style="width: 15%;">{{ text_tags_multiple_status }}&nbsp;&nbsp;<i class="fa fa-info-circle text-blue" data-toggle="tooltip" title="{{ text_tags_multiple_status_help }}"></i></th>
			<th style="width: 45%;">{{ text_filter_tags }}</th>
			<th style="width: 15%;">{{ text_filter_single_operator }}</th>
			<th style="width: 25%;" id="changed_title_operator">{{ text_process_as }}</th>
		  </tr>
		  <tr>
			<td>
			  <div class="radio">
				<label>
				  <input type="radio" name="template[tags_multiple_status]" value="1" {% if (tags_multiple_status) %}checked{% endif %} class="tags_multiple_status" />
				  {{ text_yes }}
				</label>&nbsp;&nbsp;
				<label>
				  <input type="radio" name="template[tags_multiple_status]" value="0" {% if (not tags_multiple_status) %}checked{% endif %} class="tags_multiple_status" />
				  {{ text_no }}
				</label>
			  </div>
			</td>
			<td class="valid-block">
			  <select id="select-tags" class="form-control" multiple>
				{% for tag in tags %}
					<option value="{{ tag['code'] }}" {{ tag['selected'] }}>&nbsp;&nbsp;{{ tag['name'] }}</option>
				{% endfor %}
			  </select>
			<input id="input-tags" type="hidden" name="template[tags]" value="" class="field-input mustbe" />
			</td>
			<td>
				<select name="template[operator]" class="select-operator form-control">
				  {% for operator in operator_list %}
					<option value="{{ operator['value'] }}" {% if (template['operator'] is defined and template['operator'] == operator['value']) %} selected="selected" {% endif %}>{{ operator['text'] }}</option>
				  {% endfor %}
				</select>
			</td>
			<td id="changed_data_operator"></td>
		  </tr>
		</tbody>
	</table>

	<span id="group_likemask_operator" class="input-group valid-block">
	  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_likemask_info }}"><i class="fa fa-exclamation-triangle text-red"></i></span>
	  <input type="text" name="template[likemask]" value="{{ template['likemask'] is defined ? template['likemask'] : '%{value}%' }}" class="field-input sqlwithexclude form-control" />
	</span>

	<select id="select_process_as" name="template[process_as]" class="form-control">
	  {% for type in process_as_list %}
		<option value="{{ type['value'] }}" {% if (template['process_as'] is defined and template['process_as'] == type['value']) %} selected="selected" {% endif %}>{{ type['text'] }}</option>
	  {% endfor %}
	</select>

	<span id="text_placeholder" class="input-group">
	  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_placeholder }}"><i class="fa fa-info text-blue"></i></span>
		<input type="text" name="template[placeholder]" value="{{ template['placeholder'] is defined ? template['placeholder'] : '' }}" class="form-control"/>
	</span>

	<span id="handler_type_group" class="input-group">
	  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_handler_type }}"><i class="fa fa-info text-blue"></i></span>
	  <select id="handler_type" name="template[handler_type]" class="form-control">
		<option value="">&nbsp;&nbsp; {{ text_not_selected }}</option>
	  {% for handler in handler_type_list %}
		<option value="{{ handler['type'] }}" {% if (template['handler_type'] is defined and template['handler_type'] == handler['type']) %} selected="selected"{% endif %}>{{ handler['name'] }}</option>
	  {% endfor %}
	  </select>
	</span>

	<span id="inputmask" class="input-group">
	  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_inputmask }}"><i class="fa fa-info text-blue"></i></span>
	  <input type="text" name="template[mask]" value="{{ template['mask'] is defined ? template['mask'] : '' }}" class="form-control" placeholder="+375 (99) 999-99-99"/>
	</span>

	<div id="autocomplete_row" class="row">
	  <div class="col-sm-8">
		<label class="control-label" ><span class="font-weight-reset">{{ text_filter_label_autocomplete }}</span></label>
		<span class="input-group">
		  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_autocomplete }}"><i class="fa fa-info text-blue"></i></span>
		  <select id="autocomplete" name="template[autocomplete]" class="form-control">
		  {% for target,name in autocompletes %}
			<option value="{{ target }}" {% if (template['autocomplete'] is defined and template['autocomplete'] == target) %} selected="selected"{% endif %}>{{ name }}</option>
		  {% endfor %}
		  </select>
		</span>
	  </div>
	  <div class="col-sm-4 valid-block">
		<label class="control-label" ><span class="font-weight-reset">{{ text_filter_label_autocomplete_limit }}</span></label>
		<span class="input-group">
		  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_autocomplete_limit }}"><i class="fa fa-info text-blue"></i></span>
		  <input type="text" name="template[autocomplete_limit]" value="{{ template['autocomplete_limit'] is defined ? template['autocomplete_limit'] : 5 }}" class="field-input numeric form-control" placeholder="10"/>
		</span>
	  </div>
	</div>

	<span id="select_class_group" class="input-group">
	  <span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_select_class }}"><i class="fa fa-info text-blue"></i></span>
	  <select id="select_class" name="template[select_class]" class="form-control">
	  {% for class in select_class_list %}
		<option value="{{ class['class'] }}" {% if (template['select_class'] is defined and template['select_class'] == class['class']) %} selected="selected"{% endif %}>{{ class['name'] }}</option>
	  {% endfor %}
	  </select>
	</span>

	<div id="method_type_group">
		<div class="col-sm-4">
		  <label class="control-label"><span class="font-weight-reset">{{ text_filter_label_value_list }}</span></label>
		  <div class="panel">
			<span class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_api_method_description }}"><i class="fa fa-info text-blue"></i></span>
			  <select name="template[process_method]" class="form-control">
				{% for method in process_method_list %}
				  <option value="{{ method['process_method'] }}" {% if (template['process_method'] is defined and template['process_method'] == method['process_method']) %} selected="selected"{% endif %}>{{ method['text'] }}</option>
				{% endfor %}
			  </select>
			</span>
		  </div>
		</div>
		<div class="col-sm-8">
		  <label class="control-label"><span class="font-weight-reset">{{ text_filter_empty_value_status }}</span></label>
		  <div class="panel">
			<span class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_empty_value_status }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[empty_value_status]" class="form-control">
				  <option value="1" {% if (template['empty_value_status'] is defined and template['empty_value_status'] == 1) %} selected="selected"{% endif %}>{{ text_yes }}</option>
				  <option value="0" {% if (template['empty_value_status'] is not defined or (template['empty_value_status'] is defined and template['empty_value_status'] == '0')) %} selected="selected"{% endif %}>{{ text_no }}</option>
				</select>
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filter_info_title_empty_value_text }}"><i class="fa fa-info text-blue"></i>&nbsp;&nbsp; {{ text_filter_empty_value_text }}</span>
				<input type="text" name="template[empty_value_text]" value="{{ template['empty_value_text'] is defined ? template['empty_value_text'] : '' }}" class="form-control" />
			</span>
		  </div>
		</div>
	</div>

  <div class="col-sm-12" id="multiselect_col" style="margin-top: 15px;">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h1 class="panel-title"><i class="fa fa-list-ul"></i>&nbsp;&nbsp;{{ text_title_multiselect }}&nbsp;&nbsp;<span class="text-blue" style="font-size: 13px;"><a href="http://davidstutz.de/bootstrap-multiselect/" target="_blank">{{ text_documentation_multiselect }}</a></span></h1>
	  </div>
	  <div class="panel-body">
		<div class="row">
		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">buttonClass</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_buttonClass_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][bCl]" value="{{ template['multiselect']['bCl'] is defined ? template['multiselect']['bCl'] : 'btn btn-default' }}" class="field-input validclass form-control" placeholder="class..." />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">selectedClass</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_selectedClass_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][selCl]" value="{{ template['multiselect']['selCl'] is defined ? template['multiselect']['selCl'] : 'active' }}" class="field-input validclass form-control" placeholder="class..." />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">dropRight</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dropRight_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][dR]" class="form-control">
					<option value="false" {% if (template['multiselect']['dR'] is defined and template['multiselect']['dR'] == 'false') %} selected="selected"{% endif %}>{{ text_no }}</option>
					<option value="true" {% if (template['multiselect']['dR'] is defined and template['multiselect']['dR'] == 'true') %} selected="selected"{% endif %}>{{ text_yes }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">dropUp</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dropUp_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][dU]" class="form-control">
					<option value="false" {% if (template['multiselect']['dU'] is defined and template['multiselect']['dU'] == 'false') %} selected="selected"{% endif %}>{{ text_no }}</option>
					<option value="true" {% if (template['multiselect']['dU'] is defined and template['multiselect']['dU'] == 'true') %} selected="selected"{% endif %}>{{ text_yes }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">maxHeight</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_maxHeight_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][mH]" value="{{ template['multiselect']['mH'] is defined ? template['multiselect']['mH'] : '' }}" class="field-input numeric form-control" />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">includeSelectAllOpt...</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_includeSelectAllOption_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][selAll]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['selAll'] is defined and template['multiselect']['selAll'] == 'false') %} selected="selected"{% endif %}>{{ text_no }}</option>
					<option value="true" {% if (template['multiselect']['selAll'] is defined and template['multiselect']['selAll'] == 'true') %} selected="selected"{% endif %}>{{ text_yes }}</option>
				</select>
			  </div>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">includeSelectAllIf...</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_includeSelectAllIfMoreThan_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][selAllIfMo]" value="{{ template['multiselect']['selAllIfMo'] is defined ? template['multiselect']['selAllIfMo'] : 1 }}" class="field-input numeric form-control" placeholder="10" />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">selectAllNumber</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_selectAllNumber_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][selAllNum]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['selAllNum'] is defined and template['multiselect']['selAllNum'] == 'false') %} selected="selected"{% endif %}>{{ text_no }}</option>
					<option value="true" {% if (template['multiselect']['selAllNum'] is defined and template['multiselect']['selAllNum'] == 'true') %} selected="selected"{% endif %}>{{ text_yes }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">selectAllText</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_selectAllNumber_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][selAllText]" value="{{ template['multiselect']['selAllText'] is defined ? template['multiselect']['selAllText'] : text_select_all }}" class="form-control" placeholder="Select all" />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">nonSelectedText</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_nonSelectedText_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][noSelText]" value="{{ template['multiselect']['noSelText'] is defined ? template['multiselect']['noSelText'] : text_not_selected }}" class="form-control" placeholder="{{ text_not_selected }}" />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">nSelectedText</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_nSelectedText_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][nSelText]" value="{{ template['multiselect']['nSelText'] is defined ? template['multiselect']['nSelText'] : text_selected }}" class="form-control" placeholder="{{ text_selected }}" />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">allSelectedText</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_allSelectedText_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][allSelText]" value="{{ template['multiselect']['allSelText'] is defined ? template['multiselect']['allSelText'] : text_all_selected }}" class="form-control" placeholder="{{ text_all_selected }}" />
			  </div>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">numberDisplayed</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_numberDisplayed_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][numDisp]" value="{{ template['multiselect']['numDisp'] is defined ? template['multiselect']['numDisp'] : 1 }}" class="field-input numeric form-control" placeholder="1" />
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">enableFiltering</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_enableFiltering_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][enFilter]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['enFilter'] is defined and template['multiselect']['enFilter'] == 'false') %} selected="selected"{% endif %}>{{ text_disabled }}</option>
					<option value="true" {% if (template['multiselect']['enFilter'] is defined and template['multiselect']['enFilter'] == 'true') %} selected="selected"{% endif %}>{{ text_enabled }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">enableCaseIns...</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_enableCaseInsensitiveFiltering_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][caseIns]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['caseIns'] is defined and template['multiselect']['caseIns'] == 'false') %} selected="selected"{% endif %}>{{ text_no }}</option>
					<option value="true" {% if (template['multiselect']['caseIns'] is defined and template['multiselect']['caseIns'] == 'true') %} selected="selected"{% endif %}>{{ text_yes }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">filterPlaceholder</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_filterPlaceholder_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][filterPH]" value="{{ template['multiselect']['filterPH'] is defined ? template['multiselect']['filterPH'] : 'Search' }}" class="form-control" placeholder="Search..."/>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">includeFilterClearBtn</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_includeFilterClearBtn_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][fClearBtn]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['fClearBtn'] is defined and template['multiselect']['fClearBtn'] == 'false') %} selected="selected"{% endif %}>{{ text_disabled }}</option>
					<option value="true" {% if (template['multiselect']['fClearBtn'] is defined and template['multiselect']['fClearBtn'] == 'true') %} selected="selected"{% endif %}>{{ text_enabled }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">includeResetOption</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_includeResetOption_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][resetO]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['resetO'] is defined and template['multiselect']['resetO'] == 'false') %} selected="selected"{% endif %}>{{ text_disabled }}</option>
					<option value="true" {% if (template['multiselect']['resetO'] is defined and template['multiselect']['resetO'] == 'true') %} selected="selected"{% endif %}>{{ text_enabled }}</option>
				</select>
			  </div>
			</div>
		  </div>
		</div>
		<div class="row">
		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">includeResetDivider</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_includeResetDivider_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[multiselect][resetD]" class="form-control" style="min-width: 70px;">
					<option value="false" {% if (template['multiselect']['resetD'] is defined and template['multiselect']['resetD'] == 'false') %} selected="selected"{% endif %}>{{ text_no }}</option>
					<option value="true" {% if (template['multiselect']['resetD'] is defined and template['multiselect']['resetD'] == 'true') %} selected="selected"{% endif %}>{{ text_yes }}</option>
				</select>
			  </div>
			</div>
		  </div>

		  <div class="col-sm-2">
			<label class="control-label"><span class="font-weight-reset">resetText</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_resetText_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[multiselect][resetT]" value="{{ template['multiselect']['resetT'] is defined ? template['multiselect']['resetT'] : 'Reset' }}" class="form-control" placeholder="Reset"/>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  <div class="col-sm-12" id="dp_params_col" style="margin-top: 15px;">
	<div class="panel panel-default">
	  <div class="panel-heading">
		<h4 class="panel-title"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ text_dp_params }}&nbsp;&nbsp;<span class="text-blue" style="font-size: 13px;"><a href="http://t1m0n.name/air-datepicker/docs/index-ru.html" target="_blank">{{ text_documentation_airdatepicker }}</a></span></h4>
	  </div>
	  <div class="panel-body" style="padding: 0 15px 15px 15px;">
		<div class="row">
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">dateFormat</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_dateFormat_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[dpParam][dF]" value="{{ template['dpParam']['dF'] is not empty ? template['dpParam']['dF'] : 'dd.mm.yyyy' }}" class="field-input notcyrillics form-control" />
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">position</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_position_info }}"><i class="fa fa-info text-blue"></i></span>
				  <select name="template[dpParam][pos]" class="form-control">
					<option value="bottom left" {% if (template['dpParam']['pos'] is defined and template['dpParam']['pos'] == 'bottom left') %} selected="selected"{% endif %}>{{ text_dp_position_bottom_left }}</option>
					<option value="bottom right" {% if (template['dpParam']['pos'] is defined and template['dpParam']['pos'] == 'bottom right') %} selected="selected"{% endif %}>{{ text_dp_position_bottom_right }}</option>
					<option value="top left" {% if (template['dpParam']['pos'] is defined and template['dpParam']['pos'] == 'top left') %} selected="selected"{% endif %}>{{ text_dp_position_top_left }}</option>
					<option value="top right" {% if (template['dpParam']['pos'] is defined and template['dpParam']['pos'] == 'top right') %} selected="selected"{% endif %}>{{ text_dp_position_top_right }}</option>
				  </select>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">multipleDates</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_multipleDates_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[dpParam][mD]" class="form-control">
					<option value="false" {% if (template['dpParam']['mD'] is defined and template['dpParam']['mD'] == 'false') %} selected="selected"{% endif %}>false</option>
					<option value="true" {% if (template['dpParam']['mD'] is defined and template['dpParam']['mD'] == 'true') %} selected="selected"{% endif %}>true</option>
				</select>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">multipleDatesSeparator</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_multipleDatesSeparator_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[dpParam][mDs]" value="{{ template['dpParam']['mDs'] is not empty ? template['dpParam']['mDs'] : ', ' }}" class="field-input form-control"/>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">clearButton</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_clearButton_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[dpParam][clBtn]" class="form-control">
					<option value="true" {% if (template['dpParam']['clBtn'] is defined and template['dpParam']['clBtn'] == 'true') %} selected="selected"{% endif %}>true</option>
					<option value="false" {% if (template['dpParam']['clBtn'] is defined and template['dpParam']['clBtn'] == 'false') %} selected="selected"{% endif %}>false</option>
				</select>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">autoClose</span></label>
			<div class="panel">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_autoClose_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[dpParam][aCl]" class="form-control">
					<option value="false" {% if (template['dpParam']['aCl'] is defined and template['dpParam']['aCl'] == 'false') %} selected="selected"{% endif %}>false</option>
					<option value="true" {% if (template['dpParam']['aCl'] is defined and template['dpParam']['aCl'] == 'true') %} selected="selected"{% endif %}>true</option>
				</select>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">inline</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_inline_info }}"><i class="fa fa-info text-blue"></i></span>
				<select name="template[dpParam][inl]" class="form-control">
					<option value="false" {% if (template['dpParam']['inl'] is defined and template['dpParam']['inl'] == 'false') %} selected="selected"{% endif %}>false</option>
					<option value="true" {% if (template['dpParam']['inl'] is defined and template['dpParam']['inl'] == 'true') %} selected="selected"{% endif %}>true</option>
				</select>
			  </div>
			</div>
		  </div>
		  <div class="col-sm-3">
			<label class="control-label"><span class="font-weight-reset">classes</span></label>
			<div class="panel valid-block">
			  <div class="input-group">
				<span class="input-group-addon" data-toggle="tooltip" title="{{ text_dp_classes_info }}"><i class="fa fa-info text-blue"></i></span>
				<input type="text" name="template[dpParam][cls]" value="{{ template['dpParam']['cls'] is not empty ? template['dpParam']['cls'] : '' }}" class="field-input validclass form-control" />
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

</div>

<script type="text/javascript"><!--

var has_permission = '{{ has_permission }}';

$('input[name=\'import\']').bind('change', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		$('input[name=\'import\']').val('');
		return false;
	}
	var imp = $('input[name=\'import\']').val();
	if (imp) {
		$('.button-restore').attr('disabled', false);
	} else {
		$('.button-restore').attr('disabled', true);
	}
});

$('.button-restore').bind('click', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		return false;
	}
	var imp = $('input[name=\'import\']').val();
	if (!imp) { return false; }

	var template_id = '{{ template_id }}';

	if (template_id < 1) {
		toastr.error('{{ error_restore_no_template }}', '{{ text_alert_error }}');
		return false;
	} else {
		$('#restore').val(1);
		var url = '{{ restore_link }}';
		url = url.replace(/&amp;/g, "&");
		$('#form').attr('action', url).submit();
	}
});

$('input[name="log_sql"]').on('change', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		return false;
	}
	var log_sql = $(this).val() == 1 ? 1 : 0;
	$.ajax({
		url: 'index.php?route=sale/ompro/editAdminLogSql&{{ strtoken }}&log_sql=' + log_sql,
		dataType: 'json',
		beforeSend: function() {
			$('body').append('<div class="text-loading" style="position: fixed; top: 50%; left: 50%; opacity: 0.5;"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><span class="sr-only">{{ text_loading }}</span></div>');
		},
		success: function(json) {
			$('.text-loading').remove();
			if (json['success']) {
				toastr.success(json['success'], '{{ text_alert_success }}');
				if (log_sql) { $('#alert_log_sql').show('slow'); } else { $('#alert_log_sql').hide('slow'); }

			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('#button_save').bind('click', function() {
	if (!has_permission) {
		toastr.warning('{{ error_permission }}', '{{ text_alert_warning }}');
		return false;
	} else if (!window.validation.isValid({ container: '#form' })) {
		toastr.error('{{ text_error_form }}', '{{ text_alert_error }}');
		return false;
	} else {
		var url = '{{ action }}';
		url = url.replace(/&amp;/g, "&");
		$('#form').attr('action', url).submit();
	}
});

$(document).delegate('#form, #form input, #form sellect, #form textarea', 'change', function() {
	if ($('#button_save').hasClass('btn-primary')) {
		$('#button_save').removeClass('btn-primary').addClass('btn-danger');
	}
});

--></script>

<script type="text/javascript"><!--
var template_id = '{{ template_id }}';

$(document).delegate('#filter_id', 'change', function() {
	var filter_id = $(this).val();
	$.ajax({
		url: 'index.php?route=sale/ompro_helper/testFilterId&{{ strtoken }}&type=filter&template_id=' + template_id + '&filter_id=' + filter_id,
		dataType: 'json',
		beforeSend: function() {
			$('body').append('<div class="text-loading" style="position: absolute; top: 50%; left: 50%; opacity: 0.5;"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><span class="sr-only">{{ text_loading }}</span></div>');
		},
		success: function(json) {
			$('.text-loading').remove();
			if (json['error']) {
				modalAlert('modal-danger', '{{ text_alert_error }}', '<p>'+filter_id + json['error']+'</p>', '');
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$(document).delegate('#handler_type', 'change', function() {
	var val = $(this).val();

	$('#input_mask_col').hide();
	$('#hidden_elements').append($('#inputmask'));
	$('#dp_params_row').hide();
	$('#hidden_elements').append($('#dp_params_col'));
	$('#autocomplete_col').hide();
	$('#hidden_elements').append($('#autocomplete_row'));

	if (val == 'inputmask') {
		$('#input_mask_block').append($('#inputmask'));
		$('#input_mask_col').show();
	} else if (val == 'datepicker') {
		$('#dp_params_row').append($('#dp_params_col'));
		$('#dp_params_row').show();
	} else if (val == 'autocomplete') {
		$('#autocomplete_block').append($('#autocomplete_row'));
		$('#autocomplete_col').show();
	}
	$(function () { window.validation.init({ container: '#form' });});
});

$('#handler_type').trigger('change');

$(document).delegate('#select_class', 'change', function() {
	if (!$(this).val() || $(this).val() == 'select_default') {
		$('#multiselect_row').hide();
		$('#hidden_elements').append($('#multiselect_col'));
	} else if ($(this).val() && ($(this).val() === 'multiselect_single' || $(this).val() === 'multiselect')) {
		$('#multiselect_row').append($('#multiselect_col'));
		$('#multiselect_row').show();
	}
	$(function () { window.validation.init({ container: '#form' });});
});

$('#select_class').trigger('change');

$(document).delegate('.tags_manual_status', 'change', function() {
	if ($(this).val() == 1) {
		$('#hidden_elements #hidden_tags_table').append($('#tags_table #tags_table_params_tbody'));
		$('#tags_table').append($('#tags_table_manual_tbody'));
	} else {
		$('#hidden_elements #hidden_tags_table').append($('#tags_table #tags_table_manual_tbody'));
		$('#tags_table').append($('#tags_table_params_tbody'));
	}

	$(function () { window.validation.init({ container: '#form' });});
});

{% if (not tags_manual_status) %}
	$('.tags_manual_status:first').trigger('change');
{% else %}
	$('.tags_manual_status:last').trigger('change');
{% endif %}

$(document).delegate('.select-operator', 'change', function() {
	if ($(this).val() == 'LIKE' || $(this).val() == 'NOT LIKE') {
		$('#changed_title_operator').text('{{ text_likemask }}');
		$('#changed_data_operator').append($('#group_likemask_operator'));
		$('#hidden_elements').append($('#select_process_as'));
	} else {
		$('#changed_title_operator').text('{{ text_process_as }}');
		$('#hidden_elements').append($('#group_likemask_operator'));
		$('#changed_data_operator').append($('#select_process_as'));
	}
	$(function () { window.validation.init({ container: '#form' });});
});

$('.select-operator').trigger('change');

// https://harvesthq.github.io/chosen/
function chosenStart(max=100) {
	$("#select-tags").chosen({
		disable_search_threshold: 10,
		max_selected_options: max,
		width: "100%",
		placeholder_text_multiple: "Select Tag",
		no_results_text: "  : ",
		hide_results_on_select: false
	});
}

$(document).delegate('.tags_multiple_status', 'change', function() {
	var val = $(this).val();
	if (val != '0') {
		$("#select-tags").chosen("destroy");
		chosenStart(100);
		$('#select-tags').trigger('change');
	} else {
		var arr = $("#select-tags").val();
		$("#select-tags").chosen("destroy").val(arr[arr.length-1]);
		chosenStart(1);
		$("#select-tags").trigger("chosen:activate");
		$(':focus').blur();
		$('#select-tags').trigger('change');
	}
});

$('.tags_multiple_status:checked').trigger('change');

$(document).delegate('#select-tags', 'change', function() {
	var values = '';
	$('#select-tags').each(function() {
		if (values == '') {
			values += $(this).val();
		} else {
			values += ','+$(this).val();
		}
	});
	$('#input-tags').val(values);
});

$('#select-tags').trigger('change');

$(document).delegate('#input-type', 'change', function() {
	$('#select_value_row').hide();
	$('#hidden_elements').append($('#method_type_group'));
	$('#select_class_col').hide();
	$('#hidden_elements').append($('#select_class_group'));
	$('#input_placeholder_col').hide();
	$('#hidden_elements').append($('#text_placeholder'));
	$('#handler_class_col').hide();
	$('#hidden_elements').append($('#handler_type_group'));

	var val = $(this).val();

	if (val == 'select') {
		$('#select_value_row').append($('#method_type_group'));
		$('#select_value_row').show();
		$('#select_class_block').append($('#select_class_group'));
		$('#select_class_col').show();
		$('#handler_type').val('').trigger('change');
	} else if (val == 'text') {
		$('#input_placeholder_block').append($('#text_placeholder'));
		$('#input_placeholder_col').show();
		$('#handler_class_block').append($('#handler_type_group'));
		$('#handler_class_col').show();
		$('#select_class').val('select_default').trigger('change');
	}

	$(function () { window.validation.init({ container: '#form' });});
});

$('#input-type').trigger('change');

--></script>

<script type="text/javascript"><!--

$(document).delegate('.btn-preview', 'click', function() {
	var template_id = '{{ template_id }}';
	if (template_id < 1) {
		toastr.error('{{ error_template_preview }}', '{{ text_alert_error }}');
		return false;
	}
	var loc = $(this).attr('location');
	$.ajax({
		url: 'index.php?route=sale/ompro/previewFilter&{{ strtoken }}&type=filter&template_id=' + template_id + '&location=' + loc,
		dataType: 'json',
		beforeSend: function() {
			$('#preview-block').html('<div class="text-loading" style="position: absolute; top: 50%; left: 50%; opacity: 0.5;"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i><span class="sr-only">{{ text_loading }}</span></div>');
		},
		success: function(json) {
			$('.text-loading').remove();
			if (json['error']) {
				modalAlert('modal-danger', '{{ text_alert_error }}', '<p>'+json['error']+'</p>', '');
			} else {
				if (json['tpl']) {
					$('#preview-block').html(json['tpl']);
					dpStart();
					multiselectStart();
				}
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

--></script>

<script type="text/javascript"><!--

$(document).ready(function(){
	var error = '{{ error_warning }}';
	var success = '{{ success }}';
	if (error) {
		modalAlert('modal-danger', '{{ text_alert_error }}', '<p>'+error+'</p>', '');
	}
	if (success) {
		toastr.success(success, '{{ text_alert_success }}');
	}

	tooltipRefresh();
	$(function () { window.validation.init({ container: '#form' });});

	$('.nav-tabs').each(function(){
		$(this).find('a:first').tab('show');
	});

	$('.box-content').show();
});
//--></script>

</div>
{{ footer }}